app-slide-type {
  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div.item {
      border-radius: 8px;
      border: 1px solid var(--ion-color-primary);
      margin: 8px 0;
      width: calc(100% - 32px);
      height: 7rem;
    }

    --slide-width: 100%;

    deckgo-slide-title, deckgo-slide-content, deckgo-slide-split {
      --slide-padding-start: 4px;
      --slide-padding-bottom: 4px;
    }

    deckgo-slide-title {
      --slide-padding-top: 4px;
      --slide-padding-end: 4px;

      h1 {
        margin-top: 22px;
      }

      p {
        min-height: 36px;
      }
    }

    deckgo-slide-content {
      --slide-padding-top: 4px;
      --slide-padding-start: 2px;
      --slide-padding-end: 6px;
    }

    deckgo-slide-split {
      --slide-split-padding-top: 4px;
      --slide-split-padding-start: 4px;
      --slide-split-padding-end: 4px;
      --slide-split-padding-bottom: 4px;
    }

    deckgo-slide-gif {
      --slide-width: 216px;
      --slide-height: 110px;
      --border-radius: 8px;
      --padding: 0;

      --slide-padding-top: 0;
      --slide-padding-bottom: 0;
      --slide-padding-end: 0;
      --slide-padding-start: 0;
    }

    deckgo-slide-author {
      --slide-author-padding-top: 18px;
      --slide-author-padding-bottom: 4px;
      --slide-author-padding-start: 8px;
      --slide-author-padding-end: 16px;

      p {
        min-height: inherit;
      }
    }

    h1, p {
      width: 100%;
      border-radius: 4px;
      margin: 2px;
      padding: 2px;
    }

    h1 {
      font-size: var(--font-size-small);
      border: 1px dashed var(--ion-color-tertiary);
    }

    p {
      font-size: var(--font-size-very-small);
      border: 1px dashed var(--ion-color-tertiary);
      min-height: 74px;
    }

    deckgo-slide-split {
      p {
        margin: 0;
        min-height: 102px;
        overflow: hidden;
      }
    }

    deckgo-slide-gif {
      p {
        min-height: inherit;
        width: inherit;
      }
    }
  }

  div.swipe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px 8px;

    ion-label {
      padding-left: 8px;
      font-size: var(--font-size-small);
    }
  }

}
