app-image {
  @import "../../../../global/theme/editor/editor-info";
  @import "../../../../global/theme/editor/editor-popover";

  ion-item {
    &.history-empty {
      --color: var(--ion-color-medium);
    }

    &.action-button-margin {
      margin-top: 8px;
    }
  }

  app-image-columns {
    --deckgo-images-padding: 4px;
    --deckgo-images-font-size: calc(var(--font-size-very-small) - 4px);
  }
}
