footer {
  --deckgo-logo-vertical-align: bottom;
  --deckgo-logo-margin-end: 2px;
  --deckgo-logo-size: 12px;

  padding: 0 15px;

  a {
    text-decoration: none;
  }

  a, p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--deckgo-menu-footer-color, inherit);
    font-size: var(--font-size-very-small);
  }
}
