app-user-menu {
  ion-grid {
    margin-top: 12px;
  }

  hr {
    background: var(--ion-color-light);
    width: 80%;
  }

  ion-list.list-ios {
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  ion-item {
    --border-color: transparent;
    cursor: pointer;
    --min-height: 36px;

    ion-router-link {
      color: inherit;
      font-weight: inherit;

      &:hover,
      &.active {
        border-bottom: 1px solid transparent;
      }
    }

    &:hover,
    &.active {
      color: var(--ion-color-primary);
    }
  }
}
