app-user-menu {
  hr {
    background: var(--ion-color-light);
    margin-top: 12px;
    width: 88%;
  }

  ion-list.list-ios {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 8px;
  }

  ion-item {
    --border-color: transparent;
    cursor: pointer;
    --min-height: 36px;
    font-size: var(--font-size-normal);

    ion-router-link {
      color: inherit;
      font-weight: inherit;
      text-decoration: none;
    }

    &:hover,
    &.active {
      color: var(--ion-color-primary);
    }
  }
}
