app-select-target-element {

  ion-list.list-ios {
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  ion-item {
    --border-width: 0;
    --inner-border-width: 0;
  }

  ion-item-divider {
    --color: black;
    --background: inherit;
    --ion-item-border-color: transparent;
    --ion-padding: 0;

    ion-label {
      margin: 16px 0 4px;
    }
  }

  ion-segment {
    ion-segment-button {
      min-width: auto;

      --padding-end: 0;
      --padding-start: 0;

      --indicator-color: var(--ion-color-light);
    }
  }

}
