// Global styles theme

:root {
  --deckgo-font-weight: 300;
}

h1, h2, h3 {
  font-weight: var(--deckgo-font-weight);
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size-big);
}

p {
  font-weight: var(--deckgo-font-weight);
  line-height: calc(var(--font-size-normal) + 0.2rem);
}

ion-content {
  ion-list {
    --padding-start: 0;
    --ion-safe-area-left: 0;

    ion-list-header {
      font-size: var(--font-size-big);
      font-weight: 300;
      text-transform: uppercase;
    }

    ion-item, ion-label[text-wrap][class*="sc-ion-label"] {
      font-size: inherit;
      font-weight: var(--deckgo-font-weight);
      --border-color: inherit;
    }
  }
}
