ion-menu {
  --border: 0px;

  --background: var(--ion-color-primary);
  --ion-background-color: var(--ion-color-primary);

  ion-header {
    ion-toolbar {
      --border-color: transparent;
    }
  }

  ion-content {
    ion-list {

      ion-item-divider, ion-item {
        --color: var(--ion-color-light);

        --background: transparent;
        --background-hover: var(--ion-color-secondary);
        --background-activated: var(--ion-color-secondary);
      }

      ion-item {
        --border-color: transparent;
        --padding-start: 32px;
        --min-height: inherit;
        font-size: var(--font-size-normal);
        height: inherit;

        &.item ion-label[class*="sc-ion-label"] {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          ion-icon {
            margin-right: 6px;
          }
        }

        a.deckdeckgo {
          color: var(--ion-color-light);
          text-decoration: none;

          display: flex;
          justify-content: flex-start;
          align-items: center;

          span {
            text-transform: uppercase;
            padding: 0 4px;
            font-weight: 300;
            font-size: var(--font-size-normal);
          }

          --deckgo-logo-url: url('/assets/img/deckdeckgo-logo-invert.svg');
          --deckgo-logo-vertical-align: bottom;
          --deckgo-logo-margin: 0 6px 0 4px;
          --deckgo-logo-size: 20px
        }
      }
    }
  }
}

