ion-menu {
  --border: 0px;

  --background: var(--ion-color-primary);
  --ion-background-color: var(--ion-color-primary);

  --deckgo-logo-url: url('/assets/img/deckdeckgo-logo-invert.svg');

  ion-content {
    ion-list {
      ion-item-divider, ion-item {
        --color: var(--ion-color-light);

        --background-hover: var(--ion-color-secondary);
        --background-activated: var(--ion-color-secondary);
      }

      ion-item-divider {
        border: 0;
        font-size: var(--font-size-small);
        font-weight: bold;

        &:not(:first-of-type) {
          margin-top: 8px;
        }
      }

      ion-item {
        --border-color: transparent;
        --padding-start: 32px;
        --min-height: inherit;
        font-size: var(--font-size-small);
        height: inherit;

        ion-label {
          margin-top: 6px;
          margin-bottom: 6px;
        }
      }
    }

    app-menu-footer {
      --deckgo-menu-footer-color: white;
    }
  }

  ion-header {
    ion-toolbar {
      --color: var(--ion-color-light);
      --border-color: transparent;

      ion-title {
        --deckgo-logo-vertical-align: bottom;
        --deckgo-logo-margin-end: 6px;
        --deckgo-logo-size: 20px
      }
    }
  }
}

