:root {
  --ion-text-color: black;

  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-switcher: var(--ion-color-primary);
  --ion-color-switcher-rgb: var(--ion-color-primary-rgb);
  --ion-color-switcher-contrast: var(--ion-color-primary-contrast);
  --ion-color-switcher-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-switcher-shade: var(--ion-color-primary-shade);
  --ion-color-switcher-tint: var(--ion-color-primary-tint);
}

body.dark {
  --ion-background-color: #323639;

  --ion-text-color: #ffffff;

  --ion-border-color: #202124;

  --ion-tab-bar-background: #202124;
  --ion-tab-bar-color-activated: #ffffff;

  --ion-color-medium: #6e6d6f;
  --ion-color-medium-rgb: 110, 109, 111;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #616062;
  --ion-color-medium-tint: #7d7c7d;

  --ion-color-switcher: #f4f5f8;
  --ion-color-switcher-rgb: 244, 244, 244;
  --ion-color-switcher-contrast: #000000;
  --ion-color-switcher-contrast-rgb: 0, 0, 0;
  --ion-color-switcher-shade: #d7d8da;
  --ion-color-switcher-tint: #f5f6f9;
}

.ion-color-switcher {
  --ion-color-base: var(--ion-color-switcher) !important;
  --ion-color-base-rgb: var(--ion-color-switcher-rgb) !important;
  --ion-color-contrast: var(--ion-color-switcher-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-switcher-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-switcher-shade) !important;
  --ion-color-tint: var(--ion-color-switcher-tint) !important;
}
