@import "./deckdeckgo-slide";
@import "./deckdeckgo-slide-slots";

div.deckgo-slide {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

:host(.deckgo-slide-video-centered) {
  div.deckgo-slide {
    justify-content: center;
  }
}

div.deckgo-video-container {
  width: calc(var(--slide-width) - var(--slide-padding-start, var(--slide-padding-start-default)) - var(--slide-padding-end, var(--slide-padding-end-default)));
  height: calc(
    var(--slide-height) - var(--slide-padding-top, var(--slide-padding-top-default)) - var(--slide-padding-bottom, var(--slide-padding-bottom-default))
  );
}

::slotted([slot="title"]),
::slotted([slot="content"]) {
  user-select: text;
}
