@use "../../../../../global/theme/mixins/editor";
@use "../../../../../global/theme/mixins/deck";

app-slide-preview {
  position: absolute;
  top: var(--ios-top, 8px);
  right: 8px;

  transition: opacity 0.5s;

  visibility: initial;
  opacity: 1;

  &:not(.preview) {
    visibility: hidden;
    opacity: 0;
  }

  article {
    position: relative;

    --preview-width: 200px;

    width: var(--preview-width);
    height: calc(var(--preview-width) * 9 / 16);

    @media screen and (max-width: 768px) {
      --preview-width: 128px;
    }

    overflow: hidden;

    @include editor.panel;

    deckgo-deck {
      @include deck.padding;
    }
  }
}
