app-slide-preview {
  position: absolute;
  top: var(--ios-top, 8px);
  right: 8px;

  @media screen and (min-width: 1200px) {
    right: 96px;
  }

  transition: opacity 0.5s;

  visibility: initial;
  opacity: 1;

  &:not(.preview) {
    visibility: hidden;
    opacity: 0;
  }
}
