@import "./deckdeckgo-slide";
@import "./deckdeckgo-slide-slots";


/**
 * @prop --slide-user-select: user select
 * @default none
 */

/**
 * @prop --overflow: overflow of the slide
 * @default hidden
 */

/**
 * @prop --slide-padding-top: Padding top of the slide
 * @default 64px and 32px on wider screen
 */

/**
 * @prop --slide-padding-bottom: Padding bottom of the slide
 * @default 64px and 32px on wider screen
 */

/**
 * @prop --slide-padding-start: Padding left of the slide
 * @default 64px and 32px on wider screen
 */

/**
 * @prop --slide-padding-end: Padding right of the slide
 * @default 64px and 32px on wider screen
 */

/**
 * @prop --zIndex: z-index
 * @default 1
 */

/**
 * @prop --background: background
 * @prop --color: color
 */

div.deckgo-slide {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  position: relative;
}

div.deckgo-slide-code-container {
  width: 100%;
  height: calc(100% - 96px);

  @media screen and (max-width: 1024px) {
    height: calc(100% - 128px);
  }

  overflow-y: auto;

  scroll-behavior: smooth;
}

::slotted([slot="title"]) {
  transition: opacity 0.5s ease-in;
}

::slotted([slot="info"]) {
  display: none;

  pointer-events: none;
}

@media print {
  div.deckgo-slide {
    height: 100%;
  }
}

deckgo-highlight-code {
  /**
   * @prop --code-user-select: code user select
   * @default text
   */
  user-select: var(--code-user-select, text);
}

::slotted([slot="title"]) {
  user-select: text;
}
