div {
  color: inherit;

  vertical-align: var(--deckgo-logo-vertical-align);
  margin-right: var(--deckgo-logo-margin-end);

  background-color: transparent;
  background-image: var(--deckgo-logo-url, url("/assets/img/deckdeckgo-logo.svg"));
  background-repeat: no-repeat;

  width: var(--deckgo-logo-size);
  height: var(--deckgo-logo-size);

  display: inline-block;
}
