div.separator {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  min-width: 1px;
  margin: 0 6px;
  height: 24px;
  background: var(--deckgo-inline-editor-separator-background, #f4f5f8);
}

:host(.deckgo-tools-mobile) {
  div.separator {
    background: var(--deckgo-ie-separator-mobile-background, #f4f5f8);
  }
}
