app-actions-editor {
  background: var(--ion-color-light);
  display: block;

  &.hidden {
    div.indicator,
    app-actions-deck,
    app-actions-element {
      display: none;
    }
  }

  app-actions-deck,
  app-actions-element {
    &.hidden {
      display: none;
    }

    ion-toolbar {
      height: 100%;

      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0 12px;

        position: relative;

        outline: none;

        color: inherit;

        border-radius: 2px;
        background: transparent;

        &:focus {
          background: rgba(var(--ion-color-medium-rgb), 0.1);
        }

        ion-icon {
          font-size: 22px;
          margin: 6px 0 4px;
        }

        ion-label {
          font-size: var(--font-size-small);
          margin-bottom: 6px;
          white-space: nowrap;
        }
      }
    }
  }

  &.fullscreen {
    transition: opacity 0.3s ease;
    opacity: 0.3;

    &:hover {
      opacity: 1;
      app-breadcrumbs {
        display: initial;
      }
      button > ion-label {
        height: 100%;
        opacity: 1;
      }
      div.indicator > app-breadcrumbs {
        display: initial;
      }
    }
    ion-toolbar {
      opacity: 0;
      height: 0%;
    }

    div.indicator {
      padding-top: 8px;
      & > app-breadcrumbs {
        display: none;
      }
    }
  }

  div.indicator {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;

    outline: 1px solid var(--ion-color-light);
  }

  button {
    ion-icon {
      color: var(--ion-color-primary);
    }

    ion-label {
      user-select: none;
    }
  }

  @media screen and (max-width: 768px) {
    button,
    app-action-share,
    app-action-busy,
    app-action-help {
      &.wider-devices {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    button,
    app-action-share,
    app-action-busy,
    app-action-help {
      &.small-devices {
        display: none;
      }
    }
  }
}
