.dark {
  --ion-background-color: black;
  --ion-text-color: #ffffff;
  --ion-item-background: #1a1b1e;
  --ion-item-background-activated: #313131;
}

ion-app.loading {
  display: none;
  color: transparent;

  a {
    color: transparent;
  }
}
