@use "../../../../global/theme/mixins/button";

app-new {
  div.type {
    display: inline-grid;
    grid-template-columns: repeat(2, 50%);

    width: 100%;

    justify-items: center;

    padding: 8px 16px 16px;

    button {
      grid-row-start: 2;

      @include button.action;

      height: 7rem;
      width: 7rem;

      padding: 16px 0;

      border-radius: 50%;

      border: 2px solid transparent;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

      ion-icon {
        font-size: 3rem;
      }

      ion-label {
        margin: 4px 0;
      }

      &:focus {
        background: transparent;
      }

      &.selected {
        border: 2px solid var(--ion-color-primary);
      }
    }

    > div {
      min-height: 30px;

      grid-column-start: 2;
      grid-column-end: 3;

      mark {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        padding: 2px 6px;
        border-radius: 16px;
        font-size: var(--font-size-very-small);
      }
    }
  }

  p {
    font-size: var(--font-size-small);
    text-align: center;
    padding: 8px 32px 14px;
    margin: 0;
  }
}
