app-image-choice {
  ion-item {
    &.history-empty {
      --color: var(--ion-color-medium);
    }
  }

  app-image-columns {
    --deckgo-images-padding: 4px;
    --deckgo-images-font-size: calc(var(--font-size-very-small) - 4px);
  }

  div.image-actions {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 8px) / 2));
    grid-column-gap: 8px;
    grid-row-gap: 4px;

    justify-content: center;
    align-items: center;

    ion-button {
      height: 32px;
    }
  }
}
