app-navigation {
  ion-header {
    ion-toolbar {
      --background: inherit;
    }

    &.offline {
      background: var(--ion-color-tertiary);
    }
  }

  div.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    ion-label {
      font-weight: 400;
    }

    ion-label.deck-name {
      transition: opacity 1s;

      visibility: hidden;
      opacity: 0;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;

      user-select: none;
    }

    ion-router-link.nav:not(:last-of-type) {
      margin-right: 24px;
    }

    &.deck-name-visible {
      ion-label.deck-name {
        visibility: initial;
        opacity: 1;
      }

      ion-router-link.nav:first-of-type {
        margin-right: 0;
      }

      ion-router-link.nav:not(:first-of-type) {
        display: none;
      }

      div.logo ion-label {
        display: none;
      }
    }

    ion-router-link {
      div.logo {
        display: flex;
        align-items: center;

        margin-left: 8px;

        app-logo {
          margin-right: 4px;
          padding: 4px;
        }

        ion-label {
          display: flex;
          align-items: baseline;
        }
      }
    }

    &.offline {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  ion-router-link {
    color: black;

    &:hover,
    &:active {
      color: black;
      border-bottom-color: transparent;
    }

    ion-label {
      font-weight: 400;
    }
  }

  div[slot="end"] {
    z-index: 2;
  }

  ion-label {
    letter-spacing: 0.06em;
  }
}

body.dark {
  app-navigation {
    div.title {
      color: white;
    }

    ion-router-link {
      color: white;

      &:hover,
      &:active {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  ion-nav {
    div.title:not(.offline) {
      ion-label.deck-name,
      ion-router-link.nav ion-label {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  ion-nav {
    div.title:not(.offline) {
      display: none;
    }

    ion-router-link.offline-info {
      display: none;
    }
  }
}
