app-navigation {

  ion-anchor {
    --color: white;

    &:hover, &:active {
      color: white;
    }

    div {
      display: flex;
      align-items: center;

      margin-left: 8px;

      app-logo {
        margin-right: 4px;
        padding: 4px;
      }
    }
  }

  div[slot="end"] {
    z-index: 2;
  }

}
