app-navigation {

  ion-header {
    ion-toolbar {
      --background: inherit;
    }
  }

  ion-anchor {
    color: black;

    &:hover, &:active {
      color: black;
    }

    div mark {
      color: black;
    }

    div {
      display: flex;
      align-items: center;

      margin-left: 8px;

      app-logo {
        margin-right: 4px;
        padding: 4px;
      }

      mark {
        background-color: transparent;
        font-style: italic;
        color: inherit;
        font-size: calc(var(--font-size-small) * 0.9);
      }
    }
  }

  div[slot="end"] {
    z-index: 2;
  }

  @media screen and (max-width: 720px) {
    ion-anchor.logo {
      display: none;
    }
  }

}

@media (prefers-color-scheme: dark) {
  app-navigation {
    ion-anchor {
      color: white;

      &:hover, &:active {
        color: white;
      }

      div mark {
        color: white;
      }

      &:hover, &:active {
        border-bottom: 1px solid transparent;
      }
    }
  }
}
