app-transform-paragraph {
  display: block;

  position: absolute;
  top: var(--actions-top);
  left: var(--actions-left);
  transform: translate(0, var(--actions-translate-y));

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.2s ease-out;

  margin: 2px 0;
  box-shadow: 1px 2px 8px 2px rgba(var(--ion-color-dark-rgb), 0.2);

  border-radius: 4px;

  &.display {
    visibility: visible;
    opacity: 1;
  }

  width: 220px;
  max-height: 220px;

  overflow: scroll;

  ion-list {
    a {
      text-decoration: none;
    }

    ion-item {
      --background: white;
    }
  }

  &.images {
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
