@import "../deckdeckgo-slides";

div.deckgo-slide {
  flex-flow: row;

  padding: 0;
  width: 100vw;
}

div.deckgo-slide-author {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: var(--slide-author-align, inherit);
  text-align: var(--slide-author-text-align, inherit);

  padding: var(--slide-author-padding-top, 16px) var(--slide-author-padding-end, 32px) var(--slide-author-padding-bottom, 16px) var(--slide-author-padding-start, 32px);

  &.deckgo-slide-author-start {
    background: var(--slide-author-background-start);
    color: var(--slide-author-color-start);

    justify-content: center;
    align-items: center;

    img {
      border-radius: 50%;
      width: var(--slide-author-img-size, 80%);
    }
  }

  &.deckgo-slide-author-end {
    background: var(--slide-author-background-end);
    color: var(--slide-author-color-end);

    flex-direction: column;
    justify-content: center;

    div.deckgo-slide-author-social {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 10px;

      padding-top: var(--slide-author-social-padding-top, 32px);
    }
  }
}

@media(min-width: 992px) {
  div.deckgo-slide-author {
    &.deckgo-slide-author-start {
      width: calc(100% / 3 * 1);
    }

    &.deckgo-slide-author-end {
      width: calc(100% / 3 * 2);

      div.deckgo-slide-author-social {
        grid-template-columns: 30% 30% 30%;
      }
    }
  }
}
