deckgo-ic-signin {
  div.actions {
    display: flex;
    justify-content: center;
    align-content: center;

    padding: 8px 16px;

    height: 100px;
  }

  p.terms {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: var(--font-size-very-small, 10px);
    padding: calc(var(--padding, 16px) / 2) 0;
  }

  div.spinner.hidden {
    display: none;
  }
}
