dist/
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.deckgo/

lib/
utils/kit/css/
utils/styles/css/

.firebase/
.dfx

.terraform

*.tfstate
*.tfstate.backup
*.tfstate.lock*

result
result-*

config.staging.json
config.prod.json

**/assetlinks.prod.json

storybook-static/

webcomponents/monaco-editor/workers

canisters/canisters
