{
  "printWidth": 140,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
