ion-nav,
ion-modal.fullscreen {
  ion-content {
    --background: var(--ion-color-light);
    background: var(--ion-color-light);

    main {
      max-width: 1400px;
      margin-left: auto;
      margin-right: auto;

      &.fit {
        min-height: 100%;
      }
    }
  }
}
