:root {
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --font-size-very-small: 10px;
  --font-size-small: 12px;
  --font-size-normal: 15px;

  --font-size-h1: 28px;
  --font-size-h2: 20px;
  --font-size-h3: 17px;
}

* {
  // Fonts
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h1 a {
  font-size: var(--font-size-h1);
  font-weight: bold;
}

h2,
h2 a {
  font-size: var(--font-size-h2);
  font-weight: bold;
}

h3 ,
h3 a {
  font-size: var(--font-size-h3);
  font-weight: bold;
}

h4,
h4 a {
  font-size: var(--font-size-normal);
  margin-top: 48px;
  margin-bottom: 8px;
  letter-spacing: 0.04em;
}

p,
ul,
ol {
  font-size: var(--font-size-normal);
  line-height: 1.8;
  margin: 14px 0px;
}

ul,
ol {
  padding: 0 0 0 16px;
}

p a,
ul a,
ol a,
td a {
  transition: border 0.3s;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-weight: 500;
}

p a:hover,
ul a:hover,
ol a:hover,
td a:hover {
  border-bottom-color: var(--ion-color-primary);
}

blockquote {
  background: var(--ion-color-tertiary);
  margin: 32px 0;
  padding: 1px 18px 4px;
  border-radius: 4px;
}

blockquote p {
  color: white;
  line-height: 1.6;
  font-size: 14px;
}

blockquote a {
  color: var(--ion-color-secondary);
}

