/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/open-sans-v17-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/assets/fonts/open-sans-v17-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/open-sans-v17-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/open-sans-v17-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/open-sans-v17-latin-300.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/open-sans-v17-latin-300.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-300italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/open-sans-v17-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("/assets/fonts/open-sans-v17-latin-300italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/open-sans-v17-latin-300italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/open-sans-v17-latin-300italic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/open-sans-v17-latin-300italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/open-sans-v17-latin-300italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/open-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/assets/fonts/open-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/open-sans-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/open-sans-v17-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/open-sans-v17-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/open-sans-v17-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/assets/fonts/open-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/open-sans-v17-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/open-sans-v17-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/open-sans-v17-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/open-sans-v17-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}

:root {
  font-family: "Open Sans", sans-serif;
  --ion-font-family: "Open Sans", sans-serif;

  --font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --font-size-very-small: 10px;
  --font-size-small: 12px;
  --font-size-normal: 15px;

  --font-size-h1: 28px;
  --font-size-h2: 20px;
  --font-size-h3: 17px;
}

h1,
h1 a {
  font-size: var(--font-size-h1);
  font-weight: 700;
}

h2,
h2 a {
  font-size: var(--font-size-h2);
  font-weight: 700;
}

h3,
h3 a {
  font-size: var(--font-size-h3);
  font-weight: 700;
}

h4,
h4 a {
  font-size: var(--font-size-normal);
  margin-top: 48px;
  margin-bottom: 8px;
  letter-spacing: 0.04em;
}

ul,
ol {
  padding: 0 0 0 16px;
}

p a,
ul a,
ol a,
td a,
ion-router-link,
.app-button {
  text-decoration: none;
  transition: border 0.3s;
  border-bottom: 1px solid transparent;
  font-weight: 400;
}

p a:hover,
ul a:hover,
ol a:hover,
td a:hover,
ion-router-link:hover,
.app-button:hover {
  border-bottom-color: var(--ion-color-primary);
}
