:fullscreen {
  #ion-menu {
    display: none;
  }

  app-navigation {
    display: none;
  }

  ion-footer {
    display: none;
  }

  ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }

  ion-split-pane.split-pane-visible ion-content {
    --padding-top: 0;
  }

  main {
    max-width: 100%;

    &.idle {
      deckgo-deck {
        h1, h2, h3, p {
          border: 1px solid transparent;
        }
      }
    }
  }
}

:-webkit-full-screen {}

:-ms-fullscreen {}

:-moz-full-screen {}

