ion-split-pane {

  --ion-toolbar-background: var(--ion-color-primary);
  color: white;

  &:not(.split-pane-visible) {
    --ion-toolbar-background: transparent;
  }
}


ion-header {
  &[class*="header"]::after {
    background-image: none;
  }
}

ion-header {
  ion-title {
    --deckgo-logo-margin-end: 6px;
    --deckgo-logo-size: 2rem
  }
}

@media (prefers-color-scheme: dark) {
  ion-split-pane {
    --ion-toolbar-background: var(--ion-tab-bar-background);
  }
}
