ion-menu {
  --background: var(--ion-color-primary);
  --ion-background-color: var(--ion-color-primary);

  --border: 0px;

  ion-item-divider {
    background: var(--ion-color-primary);
  }

  ion-header {
    ion-toolbar {
      --color: white;
      --border-color: transparent;
    }
  }

  ion-header {
    --border: 0px;
  }

  ion-content {
    ion-list {
      ion-item-divider {
        border: 0;
        font-size: var(--font-size-small);
        --padding-top: 32px;
        --background: transparent;

        --color: white;
        font-weight: bold;

        &:not(:first-of-type) {
          margin-top: 8px;
        }
      }

      ion-item-divider + ion-item {
        margin-top: 16px;
      }

      ion-item {
        --border-color: transparent;
        --min-height: inherit;
        font-size: var(--font-size-small);
        height: inherit;

        --color: white;
        --background-activated: var(--ion-color-primary);
        --background-hover: var(--ion-color-primary);

        ion-label {
          margin-top: 6px;
          margin-bottom: 6px;
        }

        ion-icon {
          color: white;
          margin: 8px 8px 8px 0;
        }

        app-avatar {
          margin: 0 8px 0 0;
        }
      }
    }

    ion-button {
      --background: white;
      --background-focused: white;
      --background-hover: white;
      --color: var(--ion-color-dark);
      --color-activated: var(--ion-color-dark);
    }
  }
}

body.dark {
  ion-menu {
    --background: white;
    --ion-background-color: white;

    ion-content {

      border-right: 1px solid rgba(0,0,0,.13);

      ion-list {
        ion-item-divider {
          background: white;
          --color: black;
        }

        ion-item {
          --color: var(--ion-color-medium);

          --background-activated: white;
          --background-hover: white;

          ion-icon {
            color: var(--ion-color-medium);
          }
        }
      }

      ion-button {
        --background: var(--ion-color-primary);
        --background-focused: var(--ion-color-primary);
        --background-hover: var(--ion-color-primary);
        --color: white;
        --color-activated: white;
      }
    }
  }
}
