ion-popover.popover-menu {
  &.popover-menu-wide {
    @media screen and (min-width: 720px) {
      --width: 498px;
    }
  }

  --width: 376px;
  --max-width: 100%;

  div.popover-content {
    top: 0 !important;
    left: inherit !important;
    right: 0;

    padding: 16px;

    --min-height: 100%;

    transform-origin: right top !important;

    box-shadow: -8px 0 16px rgba(0, 0, 0, 0.12);
    border-radius: 0;

    background: var(--ion-color-light);
  }
}

ion-popover.info {
  --min-width: 300px;
  --ion-backdrop-opacity: 0.32;
}

ion-popover.select-popover {
  --backdrop-opacity: 0;

  ion-select-popover {
    ion-item {
      --border-color: transparent;
    }
  }
}
