ion-popover {
  ion-toolbar {
    ion-anchor[slot="end"] {
      margin-bottom: 56px;
      cursor: pointer;
      border-bottom-color: transparent;
    }
  }
}

ion-popover.popover-menu {
  div.popover-content {
    top: 0 !important;
    left: inherit !important;
    right: 0;

    --min-height: 100%;

    transform-origin: right top !important;

    box-shadow: none;
    border-radius: 0;
  }
}
