ion-popover.popover-menu {
  &.popover-menu-wide {
    @media screen and (min-width: 720px) {
      --width: 498px;
    }
  }

  --width: 376px;
  --max-width: calc(100% - 12px);

  div.popover-content {
    top: 16px !important;

    --min-height: calc(100% - 64px);

    @media screen and (min-width: 992px) {
      left: inherit !important;
      right: 84px;
      --min-height: calc(100% - 32px);
    }

    padding: 16px;

    box-shadow: 0 0 16px rgba(0, 0, 0, 0.32);

    background: var(--ion-color-light);
  }
}

ion-popover.info {
  --min-width: 300px;
  --ion-backdrop-opacity: 0.32;
}

ion-popover.select-popover {
  --backdrop-opacity: 0;

  ion-select-popover {
    ion-item {
      --border-color: transparent;
    }
  }
}

ion-popover {
  a,
  ion-router-link {
    text-decoration: none;
  }
}
