ion-radio-group.inline {
  display: block;
  margin-top: 8px;

  ion-item {
    display: inline-block;
    --inner-border-width: 0;
    --padding-start: 4px;

    ion-radio {
      margin-right: 8px;
    }
  }
}
