ion-searchbar[class*="sc-ion-searchbar"] {
  > div[class*="sc-ion-searchbar-md"] {
    padding-left: 8px;
    padding-right: 8px;
  }

  input.searchbar-input[class*="sc-ion-searchbar"] {
    box-shadow: none;

    -webkit-padding-start: 48px;
    padding-inline-start: 48px;
  }
}

ion-footer ion-searchbar[class*="sc-ion-searchbar-ios"] {
  margin-top: 8px;
}
