ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  max-width: calc(1200px - 28% - 64px);
  margin-left: auto;
  margin-right: auto;

  h1:not(:first-of-type) {
    margin-top: 48px;
  }

  h2, h3 {
    margin-top: 32px;
  }

  ul {
    font-size: var(--font-size-small);
    li {
      padding-left: 8px;
      font-size: var(--font-size-small);
    }
  }
}

a {
  text-decoration: none;
}
