ion-footer {
  ion-toolbar {
    --ion-toolbar-border-color: transparent;
    --ion-toolbar-background: var(--ion-color-light);
  }

  &[class*="footer"]::before {
    background-image: none;
    background: var(--ion-color-light);
    border: 1px solid var(--ion-color-light);
  }
}

ion-popover.popover-menu {
  ion-toolbar {
    --ion-toolbar-border-color: transparent;
    --ion-toolbar-background: var(--ion-color-light);
  }
}
