ion-header {
  ion-toolbar {
    --ion-toolbar-background: transparent;
  }

  &[class*="header"]::after {
    background-image: none;
  }
}

ion-footer {
  ion-toolbar {
    --ion-toolbar-border-color: transparent;
    --ion-toolbar-background: var(--ion-color-light);
  }

  &[class*="footer"]::before {
    background-image: none;
  }
}

