:root {
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56,128,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12,209,232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #f4b400;
  --ion-color-warning-rgb: 244,180,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d79e00;
  --ion-color-warning-tint: #f5bc1a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #6E6D6F;
  --ion-color-medium-rgb: 110, 109, 111;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #616062;
  --ion-color-medium-tint: #7d7c7d;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-youtube: #FF0000;
  --ion-color-youtube-rgb: 255,0,0;
  --ion-color-youtube-contrast: #ffffff;
  --ion-color-youtube-contrast-rgb: 255,255,255;
  --ion-color-youtube-shade: #e00000;
  --ion-color-youtube-tint: #ff1a1a;

  --ion-color-quaternary: #641D80;
  --ion-color-quaternary-rgb: 100,29,128;
  --ion-color-quaternary-contrast: #ffffff;
  --ion-color-quaternary-contrast-rgb: 255,255,255;
  --ion-color-quaternary-shade: #581a71;
  --ion-color-quaternary-tint: #74348d;

  --ion-color-quinary: #481948;
  --ion-color-quinary-rgb: 72,25,72;
  --ion-color-quinary-contrast: #ffffff;
  --ion-color-quinary-contrast-rgb: 255,255,255;
  --ion-color-quinary-shade: #3f163f;
  --ion-color-quinary-tint: #5a305a;

}

body.dark {
  --ion-background-color: #323639;

  --ion-text-color: black;

  --ion-border-color: #202124;

  --ion-tab-bar-background: #202124;
  --ion-tab-bar-color-activated: #ffffff;

  --ion-color-medium: #6E6D6F;
  --ion-color-medium-rgb: 110, 109, 111;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #616062;
  --ion-color-medium-tint: #7d7c7d;

  ion-popover, ion-modal, ion-alert {
    --ion-background-color: white;
  }

  ion-menu-toggle {
    color: var(--ion-color-light);
  }
}

.ion-color-youtube {
  --ion-color-base: var(--ion-color-youtube) !important;
  --ion-color-base-rgb: var(--ion-color-youtube-rgb) !important;
  --ion-color-contrast: var(--ion-color-youtube-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-youtube-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-youtube-shade) !important;
  --ion-color-tint: var(--ion-color-youtube-tint) !important;
}

.ion-color-quaternary {
  --ion-color-base: var(--ion-color-quaternary) !important;
  --ion-color-base-rgb: var(--ion-color-quaternary-rgb) !important;
  --ion-color-contrast: var(--ion-color-quaternary-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-quaternary-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-quaternary-shade) !important;
  --ion-color-tint: var(--ion-color-quaternary-tint) !important;
}

.ion-color-quinary {
  --ion-color-base: var(--ion-color-quinary) !important;
  --ion-color-base-rgb: var(--ion-color-quinary-rgb) !important;
  --ion-color-contrast: var(--ion-color-quinary-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-quinary-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-quinary-shade) !important;
  --ion-color-tint: var(--ion-color-quinary-tint) !important;
}
