app-navigation-modal {
  ion-header {
    ion-toolbar {
      --border-color: transparent;
    }
  }

  ion-content {
    > div {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-size: var(--font-size-h1);

      div.toggle-theme {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          margin: 0;
          font-weight: 400;
          color: var(--ion-color-primary, #3880ff);
        }
      }
    }
  }
}
