app-navigation-modal {
  ion-header {
    ion-toolbar {
      --border-color: transparent;
    }
  }

  ion-content {
    div {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-size: var(--font-size-h1);
    }
  }
}
