app-deck-import {
  input {
    visibility: hidden;
    opacity: 0;
  }

  p {
    a {
      text-decoration: underline;
    }
  }

  div.actions {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
