app-feed-card {

  ion-card[class*="sc-ion-card"] {
    --background: white;

    ion-card-content {

      &.compact {
        ion-card-header, p.content {
          display: none;
        }
      }

      ion-card-title {
        white-space: nowrap;
        overflow: hidden;
        font-size: var(--font-size-h1);
      }
    }
  }

}
