app-feed-card {
  display: block;

  ion-card {
    --background: white;

    ion-card-content {
      &.ion-no-padding {
        padding: 0;
      }

      &.compact {
        p.content {
          display: none;
        }
      }

      p.content {
        margin: 0;
      }

      ion-card-title {
        display: none;
        white-space: nowrap;
        overflow: hidden;
        font-size: var(--font-size-h1);
      }

      deckgo-lazy-img {
        display: block;
        --deckgo-lazy-img-width: 100%;
        --deckgo-lazy-img-height: calc(((var(--card-width) - 20px) * 576) / 1024);
        --deckgo-lazy-img-display: block;
      }

      &.ios {
        deckgo-lazy-img {
          --deckgo-lazy-img-height: calc(((var(--card-width) - 32px) * 576) / 1024);
        }
      }
    }

    p.author {
      display: flex;
      align-items: center;

      app-avatar {
        margin: 0 8px 0 0;
      }
    }

    app-feed-card-tags {
      display: block;
      height: 100%;
    }
  }
}
