app-feed-card {
  display: block;

  ion-card {
    --background: white;

    ion-card-content {
      &.ion-no-padding {
        padding: 0;
      }

      &.compact {
        p.content {
          display: none;
        }
      }

      p.content {
        margin: 0;
      }

      ion-card-title {
        display: none;
        white-space: nowrap;
        overflow: hidden;
        font-size: var(--font-size-h1);
      }

      deckgo-lazy-img {
        display: block;
        --deckgo-lazy-img-width: 100%;
        --deckgo-lazy-img-height: calc(((var(--card-width) - 20px) * 576) / 1024);
        --deckgo-lazy-img-display: block;
      }

      &.ios {
        deckgo-lazy-img {
          --deckgo-lazy-img-height: calc(((var(--card-width) - 32px) * 576) / 1024);
        }
      }

      div.share {
        display: flex;
        justify-content: flex-end;

        ion-button {
          margin: 0 16px 16px;
          --box-shadow: none;
          font-size: var(--font-size-small);
        }
      }
    }

    p.author {
      display: flex;
      align-items: center;

      color: initial;

      app-avatar {
        margin: 0 8px 0 0;
        --deckgo-avatar-size: 2.2rem;
      }

      ion-label {
        display: flex;
        flex-direction: column;

        small {
          color: var(--ion-color-medium);
        }
      }
    }

    app-feed-card-tags {
      display: block;
      height: 100%;

      --card-tags-background: transparent;
      --card-tags-padding: 0;
      --card-tags-margin: 4px 0;
      --card-tags-font-size: var(--font-size-small);
    }
  }
}
