.main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2.45rem;

  margin-top: 2.45rem;

  align-items: flex-start;

  h2 {
    margin-top: 1.45rem;
    margin-bottom: 0.45rem;
  }

  @media (max-width: 768px) {
    grid-template-columns: 100%;
  }
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

.social {
  margin-bottom: 1.45rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
