app-expansion-panel {
  display: block;

  margin-bottom: 16px;
  overflow: hidden;

  border: 1px solid #dedede;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 4px;
  border-radius: 4px;

  article {
    background: white;

    > div {
      overflow: hidden;
      transition: height 0.25s ease-in;
    }

    > ion-item {
      font-size: var(--font-size-normal);

      &.hidden {
        display: none;
      }

      > ion-icon {
        margin: 12px 8px 12px 0;
        color: black;
        font-size: var(--font-size-small);

        transition: transform 0.25s ease-in;
      }

      div[slot="end"] {
        opacity: 1;

        transition: opacity 0.25s ease-in;
      }
    }

    &.close {
      > ion-item {
        > ion-icon {
          transform: rotate(-90deg);
        }

        div[slot="end"] {
          opacity: 0;
        }
      }
    }

    &:not(.close) {
      padding-bottom: 8px;
    }
  }
}
