@use "../../../../global/theme/button-deck-navigation";

app-landing-deck {
  deckgo-deck {
    --deckgo-highlight-code-font-size: 125%;

    h1 {
      font-weight: 700;
      margin-bottom: 0;
    }

    h2,
    h3 {
      font-weight: 400;
    }

    h1,
    h2,
    h3 {
      margin-top: 4px;
    }

    deckgo-slide-split {
      --slide-split-align: center;
      --slide-split-padding-bottom: 0;
      --slide-split-padding-top: 0;

      div[slot="start"] {
        padding: 0 32px;
      }

      @media screen and (min-width: 1200px) {
        div[slot="start"] {
          padding: 0 32px 0 72px;
        }

        div[slot="end"] {
          padding: 0 92px 0 0;
        }
      }

      &:not(:first-of-type) {
        div[slot="start"] {
          text-align: center;
          width: 100%;
        }
      }

      div[slot="end"] {
        display: inline-flex;
        justify-content: center;
        width: 100%;
      }

      @media (max-width: 768px) {
        h1 {
          font-size: 38px;
        }

        div[slot="start"] {
          padding: 0;
        }

        div[slot="start"] {
          h2 {
            padding: 0;
          }
        }

        &:first-of-type {
          --slide-split-display-end: none;

          div[slot="start"] {
            text-align: center;
            max-width: 100%;
          }
        }
      }
    }

    *[slot]:not([slot="background"]) {
      z-index: 2;
    }

    div[slot="background"] {
      width: calc(100% + 2px);
      height: 100%;
      z-index: 1;

      > img.wave {
        position: absolute;
        bottom: 0;
        left: -1px;
      }

      img.background {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      button.action {
        @media (max-width: 768px) {
          &.next,
          &.prev {
            top: unset;
            bottom: 3rem;
            transform: translate(0, 0);
          }
        }
      }
    }
  }
}
