@use "../../../../global/theme/mixins/button";

app-storage {
  app-storage-files {
    grid-template-columns: repeat(8, calc((100% - (7 * 32px)) / 8));

    @media (max-width: 1200px) {
      grid-template-columns: repeat(5, calc((100% - (4 * 32px)) / 5));
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(3, calc((100% - (2 * 32px)) / 3));
    }
  }

  div.filter {
    display: flex;
    align-items: center;

    margin: 16px 16px 4px 0;

    div.select {
      margin: 0 8px 0 0;

      ion-select {
        background: white;
      }
    }

    button.refresh {
      @include button.action;

      padding: 6px;
      border-radius: 50%;
    }
  }
}
