.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.75rem;

  margin-bottom: 4.45rem;

  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}
