.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: var(--color-light);

  padding: 2.75rem 0 1.45rem;

  &:global(.action) {
    padding: 5.75rem 0 1.45rem;
  }
}

.links {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;

  @media (max-width: 576px) {
    grid-template-columns: 50% 50%;
  }

  padding-right: 1.45rem;
  padding-left: 1.45rem;

  width: 100%;
  max-width: 720px;

  &:global(.action) {
    margin: 5.75rem 0 0.25rem;
  }

  @media (max-width: 768px) {
    margin: 2.25rem 0 0.25rem;
  }

  :global(section) {
    width: inherit;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > ion-label,
    > ion-router-link {
      display: inline-block;
    }
  }

  :global {
    a {
      text-decoration: none;
      line-height: 1.6666666666666667rem;
    }
  }
}

.social {
  margin-top: 1.25rem;

  grid-column-start: 1;
  grid-column-end: 5;

  @media (max-width: 576px) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.sectionTitle {
  font-weight: 700;
}
