div.deckgo-deck {
  display: flex;

  position: absolute;
  top: 0;
  bottom: 0;

  z-index: var(--zIndex);

  --transformX: 0px;
  --transformXDuration: 0ms;

  transform: translate3d(var(--transformX), 0px, 0px);
  transition-duration: var(--transformXDuration, 0ms);

  ::-webkit-scrollbar {
    display: none;
  }

  --slide-width: 100vw;
  --slide-height: 100%;
}

:host([direction="papyrus"]) {
  div.deckgo-deck {
    flex-direction: column;

    --slide-height: auto;
    --slide-min-height: 100vh;
  }
}

div.deckgo-pager {
  position: absolute;
  bottom: 0;
  left: var(--pager-position-left);
  right: var(--pager-position-right);
  display: var(--pager-display, none);
}

::slotted([slot="background"]) {
  display: var(--background-display, none);
  pointer-events: none;
}

::slotted([slot="actions"]) {
  display: none;
}

@media print {
  div.deckgo-deck {
    display: initial;
    position: initial;
  }

  ::slotted([slot="background"]) {
    display: none;
  }
}
