app-editor-toolbar {
  div.editor-toolbar, input {
    position: absolute;
  }

  div.editor-toolbar {
    display: none;
    pointer-events: none;

    &.displayed {
      display: flex;
    }

    justify-content: center;
    align-items: center;

    a {
      cursor: pointer;
      pointer-events: initial;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      border-radius: 50%;
      border: 1px solid var(--ion-color-primary);

      width: 2rem;
      height: 2rem;

      margin: 4px;

      display: flex;
      align-items: center;
      justify-content: center;

      background: white;

      ion-icon {
        font-size: 1.2rem;
        color: var(--ion-color-primary);
      }

      ion-label {
        font-family: sans-serif;
      }

      &.disabled {
        cursor: initial;
        border: 1px solid var(--ion-color-light);

        ion-icon {
          color: var(--ion-color-light);
        }
      }

      &.delete {
        margin-left: auto;
      }
    }
  }
}
