app-asset-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: 3rem;
  }

  ion-label {
    max-width: 100%;
    text-align: center;
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-very-small);
  }
}
