app-features {
  section.features {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: auto;

    grid-gap: 32px;

    outline: 1px solid var(--ion-color-light);

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 50%);
      grid-row-gap: 8px;
      grid-column-gap: 32px;
      width: calc(100% - 32px);
    }

    > h2,
    > p {
      grid-column-start: 1;
      grid-column-end: 4;

      @media (max-width: 992px) {
        grid-column-end: 3;
      }
    }

    > p {
      margin-top: 32px;
    }

    > h2 {
      color: rgba(var(--ion-color-medium-rgb), 0.4);

      &:not(:first-of-type) {
        margin-top: 48px;
      }
    }

    a {
      font-weight: 300;
    }
  }
}
