@use "../../../../../global/theme/mixins/dashboard";
@use "../../../../../global/theme/mixins/page";

app-templates {
  main {
    @include page.input-colors;

    div.action {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    div.container {
      @include dashboard.grid;

      --template-showcase-width: var(--card-width);
      --template-showcase-height: calc(var(--card-width) * 9 / 16);
    }
  }
}
