app-settings {
  main {
    background: white;

    ion-anchor {
      cursor: pointer;
    }

    ion-item {
      --padding-start: 0;
      --border-color: transparent;
      --inner-padding-end: 0;
      --highlight-color-focused: transparent;

      &.item-title {
        height: 38px;
      }

      &:not(.item-label) {
        ion-input[class*="sc-ion-input"] {
          --padding-start: 8px;
          --background: var(--ion-color-light);
          border: 1px solid #dedede;
          border-radius: 4px;
        }
      }
    }

    input:not(:valid) {

    }
  }
}
