.deckgo-pager-circular-chart {
  height: var(--pager-size, 56px);
  width: var(--pager-size, 56px);
  margin: var(--pager-margin-top, 8px) var(--pager-margin-end, 8px) var(--pager-margin-bottom, 8px) var(--pager-margin-start, 8px);
  display: block;
}

.deckgo-pager-circle-bg {
  fill: none;
  stroke: var(--pager-background, #eee);
  stroke-width: var(--pager-stroke-outer-width, 2.8);
}

.deckgo-pager-circle {
  stroke: var(--pager-color, #4c8dff);
  fill: none;
  stroke-width: var(--pager-stroke-inner-width, 1.8);
  stroke-linecap: round;
  transition: stroke-dasharray 500ms cubic-bezier(0.23, 1, 0.320, 1);
}

.deckgo-pager-percentage {
  fill: var(--pager-text-color, #4c8dff);
  font-size: var(--pager-text-size, 0.5em);
  text-anchor: middle;
  font-weight: 300;
}

@media print {
  .deckgo-pager-circular-chart {
    display: none;
  }
}
