div {
  color: transparent;

  margin-right: var(--deckgo-logo-margin-end);

  border-radius: 50%;
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--ion-color-primary);

  ion-icon {
    font-size: var(--deckgo-logo-size, 2rem);
  }
}
