@import "../deckdeckgo-slide";

:host(.deckgo-slide-container-fullscreen) {
  ::slotted([slot="title"]) {
    display: none;
  }
}

div.deckgo-slide {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

div.deckgo-gif-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
