@use "../../../themes/mixins/hero";

.section {
  background: var(--color-dark);
  color: var(--color-dark-contrast);
}

.main {
  @include hero.main;
}

.subtitle {
  @include hero.subtitle;
}

.title {
  @include hero.title;

  @media (min-width: 992px) {
    width: 828px;
  }
}

.hero {
  @include hero.hero;
}

.quote {
  margin-top: 0.45rem;
  padding-top: 2.45rem;

  text-align: initial;
  align-items: flex-start;

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;

    grid-gap: 0.75rem;

    blockquote,
    h2 {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    blockquote {
      justify-self: center;
    }
  }

  blockquote {
    max-width: 100%;
    margin: 2.45rem 0 6.45rem;
    text-align: left;

    span {
      font-size: 10rem;
      line-height: 0.6em;
      color: var(--color-medium);
      opacity: 0.4;
    }

    p {
      margin: 0 16px;
      color: var(--color-medium);
      font-style: italic;
      font-size: var(--font-size-h3);
      line-height: var(--line-height-h3);
    }
  }
}

.discover {
  color: var(--color-primary);
  padding: 0;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
