app-about {
  main {
    background: white;

    div.team {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      > div {
        padding-top: 32px;

        &:last-of-type {
          padding-top: 64px;
        }

        max-width: 460px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        app-avatar {
          --deckgo-avatar-size: 8rem;
        }

        a {
          padding: 8px;

          ion-icon {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
