app-about {
  main {
    background: white;

    ion-grid {

      ion-col.demo {
        display: flex;
        justify-content: center;

        app-demo {
          --demo-display: inline-block;
        }
      }
    }
  }
}
