ion-split-pane {

  &:not(.split-pane-visible) {
    ion-menu {
      --background: var(--ion-color-primary);
      --ion-background-color: var(--ion-color-primary);

      --deckgo-logo-url: url('/assets/img/deckdeckgo-logo-invert.svg');

      ion-item-divider {
        background: var(--ion-color-primary);
      }

      ion-header {
        ion-toolbar {
          --color: white;
          --border-color: transparent;
        }
      }

      ion-content {
        ion-list {
          ion-item-divider {
            --color: white;
            font-weight: bold;
          }

          ion-item {
            --color: white;

            --background-activated: var(--ion-color-primary);
          }
        }

        app-menu-footer {
          --deckgo-menu-footer-color: white;
        }
      }
    }
  }

  &.split-pane-visible {
    ion-menu {
      ion-content {
        --padding-top: 40px;

        @media screen and (min-width: 1200px) {
          --padding-start: 32px;
        }

        app-menu-footer {
          --deckgo-menu-footer-color: var(--ion-color-medium);
        }
      }
    }

    ion-content {
      --padding-top: 40px;
    }
  }

  &.split-pane-md.split-pane-visible {
    > ion-menu.split-pane-side {
      max-width: 18%;
    }
  }

  ion-menu {
    --border: 0px;

    ion-content {
      ion-list {
        ion-item-divider {
          border: 0;
          --color: var(--ion-color-dark);
          font-size: var(--font-size-small);
          font-weight: bold;

          &:not(:first-of-type) {
            margin-top: 8px;
          }
        }

        ion-item {
          --border-color: transparent;
          --color: var(--ion-color-medium);
          --padding-start: 32px;
          --min-height: inherit;
          font-size: var(--font-size-small);
          height: inherit;

          ion-label {
            margin-top: 6px;
            margin-bottom: 6px;
          }
        }
      }
    }
  }

  ion-header {
    ion-title {
      --deckgo-logo-vertical-align: bottom;
      --deckgo-logo-margin-end: 6px;
      --deckgo-logo-size: 20px
    }
  }
}

@media (prefers-color-scheme: dark) {
  ion-split-pane {
    &.split-pane-visible {
      ion-menu {
        ion-content {
          app-menu-footer {
            --deckgo-menu-footer-color: var(--ion-color-light);
          }
        }
      }
    }

    ion-menu {

      ion-content {
        ion-list {
          ion-item-divider {
            --color: var(--ion-color-light);
          }

          ion-item {
            --color: var(--ion-color-light);
          }
        }
      }
    }
  }
}
