table {
  border-collapse: collapse;
  border-spacing: 0;

  width: 100%;

  th, td {
    border: 1px solid transparent;
    padding: 8px;
    transition: all 0.3s;

    font-size: var(--font-size-small);
  }

  th {
    background: var(--ion-color-tertiary);
    color: white;
    font-weight: normal;
    text-align: left;
  }

  tr:nth-child(even) td {
    background: var(--ion-color-light);
  }

  tr td:hover {
    background: var(--ion-color-secondary);
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  table {
    tr:nth-child(even) td {
      background: var(--ion-color-dark);
    }

    tr td:hover {
      background: var(--ion-color-secondary);
      color: white;
    }
  }
}
