@use "../../../themes/mixins/hero";

.section {
  background: linear-gradient(to top, var(--color-quinary), var(--color-tertiary));
  color: var(--color-primary-contrast);
}

.main {
  @include hero.main;

  padding-bottom: 4.25rem;
  padding-top: 4.25rem;
}

.subtitle {
  @include hero.subtitle;

  @media (min-width: 992px) {
    width: 500px;
  }
}

.title {
  @include hero.title;

  @media (min-width: 992px) {
    width: 640px;
  }
}

.hero {
  @include hero.hero;
}
