@import "./deckdeckgo-slide";
@import "./deckdeckgo-slide-slots";

div.deckgo-slide {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

div.deckgo-slide-qrcode {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: row;

  align-items: var(--slide-qrcode-align, center);
  text-align: var(--slide-qrcode-text-align, center);

  > * {
    flex: 1 50%;
  }

  deckgo-qrcode {
    background: var(--slide-qrcode-background);
  }
}

::slotted([slot="title"]) {
  display: var(--slide-qrcode-title-display, block);
}

::slotted([slot="content"]) {
  flex: 1 50%;
}

::slotted([slot="title"]),
::slotted([slot="content"]) {
  user-select: text;
}
