:host {
  position: relative;

  background: var(--background);
  color: var(--color);
  height: 100%;

  z-index: var(--zIndex, 1);

  --slide-padding-top-default: 64px;
  --slide-padding-end-default: 64px;
  --slide-padding-bottom-default: 64px;
  --slide-padding-start-default: 64px;

  @media screen and (max-width: 1024px) {
    --slide-padding-top-default: 16px;
    --slide-padding-end-default: 32px;
    --slide-padding-bottom-default: 16px;
    --slide-padding-start-default: 32px;
  }
}

div.deckgo-slide {

  display: flex;

  padding: var(--slide-padding-top, var(--slide-padding-top-default)) var(--slide-padding-end, var(--slide-padding-end-default)) var(--slide-padding-bottom, var(--slide-padding-bottom-default)) var(--slide-padding-start,var(--slide-padding-start-default));

  width: calc(var(--slide-width) - var(--slide-padding-start, var(--slide-padding-start-default)) - var(--slide-padding-end, var(--slide-padding-end-default)));
  height: calc(var(--slide-height) - var(--slide-padding-top, var(--slide-padding-top-default)) - var(--slide-padding-bottom, var(--slide-padding-bottom-default)));

  // Don't allow text selection
  -webkit-touch-callout: var(--slide-user-select, none); /* iOS Safari */
  -webkit-user-select: var(--slide-user-select, none); /* Safari */
  -khtml-user-select: var(--slide-user-select, none); /* Konqueror HTML */
  -moz-user-select: var(--slide-user-select, none); /* Firefox */
  -ms-user-select: var(--slide-user-select, none); /* Internet Explorer/Edge */
  user-select: var(--slide-user-select, none);

  user-drag: none;
  -webkit-user-drag: none;
}

::slotted(ul), ::slotted(ol) {
  padding-inline-start: var(--slide-padding-start, var(--slide-padding-start-default));
}

::slotted([slot="notes"]) {
  display: none;
}

::slotted([slot="actions"]) {
  position: absolute;
  top: var(--slide-actions-top, 32px);
  right: var(--slide-actions-end, 32px);
  left: var(--slide-actions-start);
  display: var(--slide-actions-display);
}

::slotted([slot="background"]) {
  position: var(--slide-background-position, absolute);
  top: var(--slide-background-top, 0);
  right: var(--slide-background-end);
  left: var(--slide-background-start, 0);

  pointer-events: none;
  z-index: -1;

  width: var(--slide-background-width);
  height: var(--slide-background-height);
}

@media print {
  div.deckgo-slide {
    padding: 0;
    page-break-after: always;
    height: 100vh;
  }

  ::slotted([slot="actions"]) {
    display: none;
  }

  ::slotted([slot="background"]) {
    display: var(--slide-background-print-display, none);
  }
}
