app-publish-done {
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    div.gif-container {
      border-radius: 50%;
      overflow: hidden;
      --deckgo-lazy-img-width: 10rem;
      --deckgo-lazy-img-height: 10rem;
      width: 10rem;
      height: 10rem;
    }
  }
}
