section.contact {
  background: white;

  div.content {
    display: flex;
    justify-content: center;

    form {
      width: 720px;
      max-width: 100%;

      display: flex;
      flex-direction: column;

      ion-item {
        margin: 4px 0;
      }

      ion-button,
      p {
        width: fit-content;
        align-self: center;
      }

      small {
        font-weight: 300;
      }
    }
  }
}
