app-slides-aside {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  height: 100%;

  width: var(--slides-aside-width);

  padding: 16px;
  overflow: scroll;
  border-right: 1px solid #dedede;

  --preview-width: calc(var(--slides-aside-width) - 32px);

  &.drag {
    app-slide-thumbnail {
      transition: margin 0.25s ease-out, min-height 0.25s ease-in;
    }
  }

  app-slide-thumbnail {
    margin-bottom: 16px;

    transition: margin 0.15s ease-in;

    &.hover {
      margin-bottom: calc((var(--slides-aside-width) - 32px) * 9 / 16);
    }

    &.hover-top {
      margin-top: calc((var(--slides-aside-width) - 32px) * 9 / 16);
    }

    &.drag-start, &.drag-hover {
      visibility: hidden;
      opacity: 0;
    }

    &.drag-hover {
      min-height: 0;
      border: none;
    }
  }
}
