deckgo-ie-action-button {
  margin: 0 2px;

  &.italic {
    span {
      font-style: italic;
    }
  }

  &.underline {
    &.active {
      span {
        border-bottom: 1px solid var(--deckgo-inline-editor-button-color-active, #3880ff);
      }
    }

    span {
      border-bottom: 1px solid var(--deckgo-inline-editor-button-color, black);
    }
  }
}

:host(.deckgo-tools-mobile) {
  deckgo-ie-action-button {
    &.underline {
      &.active {
        span {
          border-bottom: 1px solid var(--deckgo-inline-editor-button-mobile-color-active, #3880ff);
        }
      }

      span {
        border-bottom: 1px solid var(--deckgo-inline-editor-button-mobile-color, black);
      }
    }
  }
}
