app-create-slide {
  ion-toolbar {
    padding: 16px;
  }

  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div.item {
      border-radius: 8px;
      border: 1px solid var(--ion-color-primary);
      margin: 8px 0;
      width: calc(100% - 32px);
      height: 7rem;
    }

    --slide-width: 100%;

    deckgo-slide-title, deckgo-slide-content, deckgo-slide-split {
      --slide-padding-start: 4px;
      --slide-padding-bottom: 4px;
    }

    deckgo-slide-title {
      --slide-padding-top: 4px;
      --slide-padding-end: 4px;

      p[slot="title"] {
        margin-top: 22px;
      }

      p[slot="content"] {
        min-height: 36px;
      }
    }

    deckgo-slide-content {
      --slide-padding-top: 4px;
      --slide-padding-start: 2px;
      --slide-padding-end: 6px;
    }

    deckgo-slide-split {
      --slide-split-padding-top: 4px;
      --slide-split-padding-start: 4px;
      --slide-split-padding-end: 4px;
      --slide-split-padding-bottom: 4px;
    }

    deckgo-slide-gif {
      --border-radius: 8px;
      --padding: 0;

      --slide-padding-top: 0;
      --slide-padding-bottom: 0;
      --slide-padding-end: 0;
      --slide-padding-start: 0;
    }

    deckgo-slide-gif, deckgo-slide-author {
      --slide-width: 216px;
    }

    deckgo-slide-gif, deckgo-slide-author {
      --slide-gif-height: 110px;
    }

    deckgo-slide-author {
      --slide-height: 110px;
    }

    deckgo-slide-author {
      --slide-author-padding-top: 16px;
      --slide-author-padding-start: 8px;
      --slide-author-padding-end: 16px;

      @media screen and (min-width: 1024px) {
        --slide-author-padding-top: 54px;
      }
    }

    p {
      width: 100%;
      border-radius: 4px;
      margin: 2px;
      padding: 2px;
    }

    p {
      font-size: var(--font-size-small);
      border: 1px dashed var(--ion-color-tertiary);
    }

    p[slot="content"], p[slot="author"] {
      font-size: var(--font-size-very-small);
    }

    p[slot="content"] {
      min-height: 68px;
    }

    deckgo-slide-content {
      &.gif {
        p[slot="content"] {
          display: flex;
          justify-content: center;
          align-items: center;

          ion-icon {
            font-size: 3.4rem;
            color: var(--ion-color-youtube);
          }
        }
      }
    }

    deckgo-slide-split {
      p {
        margin: 0;
        min-height: 102px;
        overflow: hidden;
      }
    }

    deckgo-slide-gif {
      p {
        min-height: inherit;
        width: inherit;
      }
    }

    deckgo-slide-author {
      --slide-author-social-padding-top: 8px;

      @media screen and (max-width: 768px) {
        p:nth-child(n+6) {
          display: none;
        }
      }

      p {
        min-height: inherit;
        margin: 0;

        &[slot="social-link"] {
          font-size: calc(var(--font-size-very-small) * 0.6);
        }
      }
    }
  }

  div.swipe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px 8px;

    ion-label {
      padding-left: 8px;
      font-size: var(--font-size-small);
    }
  }

}
