app-create-slide {
  ion-toolbar {
    padding: 16px;
  }

  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div.item {
      border-radius: 8px;
      border: 1px solid var(--ion-color-primary);
      margin: 8px 0;
      width: calc(100% - 32px);
      height: 7rem;
    }

    div.expand-charts {
      transition: max-height 0.7s ease-in-out;
      overflow: hidden;
      height: auto;
      max-height: calc((5 * 126px) + 64px);
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.collapsed {
        max-height: 0;
        margin-bottom: 0;
      }

      div.arrow {
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 16px solid var(--ion-color-primary);
      }

      div.list {
        width: 100%;
        background: var(--ion-color-primary);
        padding: 8px 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        div.item {
          width: calc((100% - 32px) / 2);
          margin: 4px 4px;
          background: white;
          font-size: 0.2rem;
        }
      }
    }

    --slide-width: 100%;

    deckgo-slide-title, deckgo-slide-content, deckgo-slide-split {
      --slide-padding-start: 4px;
      --slide-padding-bottom: 4px;
    }

    deckgo-slide-title {
      --slide-padding-top: 4px;
      --slide-padding-end: 4px;

      p[slot="title"] {
        margin-top: 22px;
      }

      p[slot="content"] {
        min-height: 36px;
      }
    }

    deckgo-slide-content, deckgo-slide-qrcode, deckgo-slide-chart {
      --slide-padding-top: 4px;
      --slide-padding-start: 2px;
      --slide-padding-end: 6px;
    }

    deckgo-slide-split {
      --slide-split-padding-top: 4px;
      --slide-split-padding-start: 4px;
      --slide-split-padding-end: 4px;
      --slide-split-padding-bottom: 4px;
    }

    deckgo-slide-gif {
      --border-radius: 8px;
      --padding: 0;

      --slide-padding-top: 0;
      --slide-padding-bottom: 0;
      --slide-padding-end: 0;
      --slide-padding-start: 0;
    }

    deckgo-slide-gif, deckgo-slide-author {
      --slide-width: 216px;
    }

    deckgo-slide-gif, deckgo-slide-author {
      --slide-gif-height: 110px;
    }

    deckgo-slide-author {
      --slide-height: 110px;
    }

    deckgo-slide-author {
      --slide-author-padding-top: 16px;
      --slide-author-padding-start: 8px;
      --slide-author-padding-end: 16px;

      @media screen and (min-width: 1024px) {
        --slide-author-padding-top: 54px;
      }
    }

    deckgo-slide-chart {
      --slide-chart-margin-end: 0;
      --slide-chart-margin-start: 4px;
      --slide-chart-margin-top: 6px;
      --slide-chart-margin-bottom: 8px;

      --deckgo-chart-fill-color-1: var(--ion-color-primary);
      --deckgo-chart-fill-color-2: var(--ion-color-secondary);
      --deckgo-chart-fill-color-3: var(--ion-color-tertiary);
      --deckgo-chart-fill-color-4: #783F8E;
      --deckgo-chart-fill-color-5: #4F1271;
      --deckgo-chart-fill-color-6: #8F68A4;
      --deckgo-chart-fill-opacity-1: 0.7;
      --deckgo-chart-fill-opacity-5: 0.9;

      --deckgo-chart-text-display: none;

      &[area="false"] {
        --deckgo-chart-stroke: black;
      }
    }

    p {
      width: 100%;
      border-radius: 4px;
      margin: 2px;
      padding: 2px;
    }

    p {
      font-size: var(--font-size-small);
      border: 1px dashed var(--ion-color-tertiary);
    }

    p[slot="content"], p[slot="author"] {
      font-size: var(--font-size-very-small);
    }

    p[slot="content"] {
      min-height: 68px;
    }

    deckgo-slide-content {
      &.gif {
        p[slot="content"] {
          display: flex;
          justify-content: center;
          align-items: center;

          ion-icon {
            font-size: 3.4rem;
            color: var(--ion-color-youtube);
          }
        }
      }
    }

    deckgo-slide-split {
      p {
        margin: 0;
        min-height: 10px;
        overflow: hidden;
    }
    
    &[vertical] {
        p {
          min-height: 47px;
        }
      }
  }

    deckgo-slide-gif {
      p {
        min-height: inherit;
        width: inherit;
      }
    }

    deckgo-slide-author {
      --slide-author-social-padding-top: 8px;

      @media screen and (max-width: 768px) {
        p:nth-child(n+6) {
          display: none;
        }
      }

      p {
        min-height: inherit;
        margin: 0;

        &[slot="social-link"] {
          font-size: calc(var(--font-size-very-small) * 0.6);
        }
      }
    }
  }

  div.swipe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px 8px;

    ion-label {
      padding-left: 8px;
      font-size: var(--font-size-small);
    }
  }

}
