@use "../../../../global/theme/mixins/editor";

app-create-slide {
  ion-toolbar {
    padding: 16px 8px 0;

    div.toolbar-title {
      display: flex;
      align-items: center;

      button {
        border: none;
        outline: none;
        font: inherit;
        color: inherit;
        background: none;
      }

      h2 {
        margin: 0;
      }
    }
  }

  ion-segment {
    margin-bottom: 8px;
  }

  .container {
    @include editor.templates;
  }

  div.swipe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px 8px;

    ion-label {
      padding-left: 8px;
      font-size: var(--font-size-small);
    }
  }
}
