app-delete {
  ion-grid {
    ion-row {
      h3 {
        margin: 8px 0 4px;
        width: 100%;
      }

      p {
        margin: 0;
      }
    }
  }

  div.element-delete-actions {
    display: grid;
    grid-template-columns: 50% 50%;

    border-top: 1px solid var(--ion-color-light);

    button {
      height: 2em;

      border: none;
      outline: none;
      font: inherit;
      color: inherit;
      background: none;

      overflow: hidden;
      position: relative;

      &:first-of-type {
        border-right: 1px solid var(--ion-color-light);
      }

      &.no {
        color: var(--ion-color-primary);
      }
    }
  }
}
