app-navigation {
  a {
    color: inherit;
  }

  ion-toolbar[class*="ios"]:last-child {
    --border-width: 0;
  }

  div[slot="end"] {
    z-index: 2;

    div.links {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      --deckgo-logo-size: 16px;

      app-logo,
      ion-icon {
        vertical-align: top;
        padding: 0 4px;
      }
    }

    ion-button {
      --color: var(--ion-color-switcher);
      --color-activated: var(--ion-color-switcher);
      --background-activated: transparent;
      --background: transparent;
      --box-shadow: none;
    }
  }

  div[slot="end"] {
    ion-button {
      display: none;
    }
  }

  @media screen and (min-width: 540px) {
    div[slot="end"] {
      ion-button {
        display: none;
      }
    }
  }

  @media screen and (max-width: 320px) {
    div[slot="end"] {
      div.links {
        display: none;
      }
    }
  }
}
