:host {
  ::slotted([slot="markdown"]) {
    display: none;
  }
}

:host([editable]) {
  div.markdown:empty:not(:focus):after {
    content: "Click to add some markdown";
  }
}

:host(.deckgo-markdown-edit) {
  ::slotted([slot="markdown"]) {
    display: block;
    min-height: 20px;
  }

  div.markdown {
    display: none;
  }
}
