:host {
  display: var(--deckgo-markdown-display, block);
  overflow: var(--deckgo-markdown-overflow, auto);

  ::slotted([slot="markdown"]) {
    display: none;
  }
}

:host([editable]) {
  div.markdown:empty:not(:focus):after {
    content: "Click to add some markdown";
  }
}

:host(.deckgo-markdown-edit) {
  ::slotted([slot="markdown"]) {
    display: block;
    white-space: pre-wrap;
  }

  div.markdown {
    display: none;
  }
}

div.deckgo-markdown-container {
  color: var(--deckgo-markdown-container-color, inherit);
  background: var(--deckgo-markdown-container-background);
  padding: var(--deckgo-markdown-container-padding, 8px);
  border-radius: var(--deckgo-markdown-container-border-radius);

  margin: var(--deckgo-markdown-container-margin, 0px);

  direction: var(--deckgo-markdown-container-direction);
  text-align: var(--deckgo-markdown-container-text-align);

  display: var(--deckgo-markdown-container-display, block);
  justify-content: var(--deckgo-markdown-container-justify-content);
  flex-direction: var(--deckgo-markdown-container-flex-direction);
  align-items: var(--deckgo-markdown-container-align-items);

  div.markdown {
    overflow-y: var(---deckgo-markdown-output-scroll, scroll);

    white-space: var(--deckgo-markdown-output-pre-wrap);

    font-size: var(--deckgo-markdown-output-font-size);
    min-height: var(--deckgo-markdown-output-min-height, 23px);

    display: var(--deckgo-markdown-output-display, block);
  }
}
