p.color-label {
  margin: var(--deckgo-color-label-margin, 0);
  padding: var(--deckgo-color-label-padding, 12px 8px);
  font-size: var(--deckgo-color-label-font-size, 12px);
  min-height: var(--deckgo-color-label-min-height, 15px);
  text-align: var(--deckgo-color-label-text-align, center);

  small {
    font-weight: var(--deckgo-color-label-color-font-weight, 300);
  }
}
