// Font weight

article.deckgo-doc h1,
article.deckgo-doc h2,
article.deckgo-doc h3 {
  font-weight: 700;
}

article.deckgo-doc h4,
article.deckgo-doc h5,
article.deckgo-doc h6,
article.deckgo-doc strong {
  font-weight: 500;
}

article.deckgo-doc h1,
article.deckgo-doc h2,
article.deckgo-doc h3,
article.deckgo-doc h4,
article.deckgo-doc h5,
article.deckgo-doc h6,
article.deckgo-doc strong {
  * {
    font-weight: inherit;
  }
}

article.deckgo-doc a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
}

// Font size

article.deckgo-doc {
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

article.deckgo-doc h1 {
  font-size: 3em;
}

article.deckgo-doc h2 {
  font-size: 2em;
}

article.deckgo-doc h3 {
  font-size: 1.4em;
}

article.deckgo-doc * {
  font-size: 1em;
}

article.deckgo-doc li {
  font-size: inherit;
}

@media screen and (max-width: 768px) {
  article.deckgo-doc div,
  article.deckgo-doc section,
  article.deckgo-doc ol,
  article.deckgo-doc ul {
    font-size: 1.4em;
  }
}

// Code

article.deckgo-doc deckgo-highlight-code {
  --deckgo-highlight-code-font-family: Menlo, monospace;
  --deckgo-highlight-code-scroll: auto;
  --deckgo-highlight-code-font-size: 0.8em;
}

// Mark

article.deckgo-doc mark {
  font-family: Menlo, monospace;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.5px 4px;
}

// Font size if user modify sizes inside elements

article.deckgo-doc font {
  display: inline-block;
  max-width: 100%;

  &[size="1"] {
    font-size: 0.25em;
  }

  &[size="2"] {
    font-size: 0.5em;
  }

  &[size="3"] {
    font-size: 0.75em;
  }

  &[size="4"] {
    font-size: 1em;
  }

  &[size="5"] {
    font-size: 1.25em;
  }

  &[size="6"] {
    font-size: 1.75em;
  }

  &[size="7"] {
    font-size: 2em;
  }

  @media (max-width: 768px) {
    &[size="5"] {
      font-size: 1.1em;
    }

    &[size="6"] {
      font-size: 1.25em;
    }

    &[size="7"] {
      font-size: 1.5em;
    }
  }
}

article.deckgo-doc {
  span[style*="font-size: x-small"] {
    font-size: 0.25em !important;
  }

  span[style*="font-size: small"] {
    font-size: 0.5em !important;
  }

  span[style*="font-size: medium"] {
    font-size: 0.75em !important;
  }

  span[style*="font-size: large"] {
    font-size: 1em !important;
  }

  span[style*="font-size: x-large"] {
    font-size: 1.25em !important;
  }

  span[style*="font-size: xx-large"] {
    font-size: 1.75em !important;
  }

  span[style*="font-size: xxx-large"] {
    font-size: 2em !important;
  }

  @media (max-width: 768px) {
    &[size="5"] {
      font-size: 1.1em !important;
    }

    &[size="6"] {
      font-size: 1.25em !important;
    }

    span[style*="font-size: xxx-large"] {
      font-size: 1.5em !important;
    }
  }
}
