text {
  fill: var(--deckgo-chart-text-color);
  display: var(--deckgo-chart-text-display);
}

.axis path,
.axis line {
  fill: none;
  stroke: var(--deckgo-chart-axis-color, black);
  shape-rendering: crispEdges;
}

.axis-grid line {
  stroke: var(--deckgo-chart-grid-stroke, #989aa2);
  stroke-opacity: var(--deckgo-chart-grid-stroke-opacity, 0.7);
  shape-rendering: crispEdges;
}
