app-draw {
  canvas {
    position: absolute;

    transition-duration: var(--left-offset-transition, 0ms);
    transform: translate3d(var(--left-offset, 0px), 0px, 0px);

    pointer-events: none;
  }

  ion-fab {
    opacity: 1;

    transition: opacity 0.25s ease-in-out;

    &.hidden {
      opacity: 0;

      pointer-events: none;
    }
  }
}
