{
  "printWidth": 160,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
