app-editor-actions {
  ion-tab-button {
    ion-icon {
      color: var(--ion-color-primary);
    }

    ion-label {
      user-select: none;
    }
  }

  ion-buttons {
    &.hidden {
      visibility: hidden;
    }
  }

  @media screen and (max-width: 540px) {
    ion-tab-button, app-share-action, app-editor-busy-action {
      &.wider-devices {
        display: none;
      }
    }
  }

  @media screen and (min-width: 540px) {
    ion-tab-button, app-share-action, app-editor-busy-action {
      &.small-devices {
        display: none;
      }
    }
  }
}
