app-editor-actions {
  background: var(--ion-color-light);
  display: block;

  .hidden {
    ion-buttons {
      visibility: hidden;
    }
  }

  app-deck-actions,
  app-element-actions {
    &.hidden {
      display: none;
    }
  }

  div.indicator {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;

    outline: 1px solid var(--ion-color-light);
  }

  ion-tab-button {
    ion-icon {
      color: var(--ion-color-primary);
    }

    ion-label {
      user-select: none;
    }
  }

  @media screen and (max-width: 540px) {
    ion-tab-button,
    app-share-action,
    app-editor-busy-action {
      &.wider-devices {
        display: none;
      }
    }
  }

  @media screen and (min-width: 540px) {
    ion-tab-button,
    app-share-action,
    app-editor-busy-action {
      &.small-devices {
        display: none;
      }
    }
  }
}
