app-deck-transition {
  div.device {
    display: flex;
    justify-content: center;
    margin: 8px 0 0;

    ion-segment {
      width: fit-content;
      background: transparent;
      border: 1px solid var(--ion-color-light);

      ion-segment-button {
        --indicator-color: var(--ion-color-dark);
        --color-checked: white;
      }
    }
  }

  div.container {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 16px) / 2));
    grid-gap: 16px;
    margin: 16px;

    div.item {
      border-radius: 8px;
      margin: 8px 0;
      width: 100%;
      height: 7rem;

      display: block;
      overflow: hidden;
      position: relative;

      border: 1px solid var(--ion-color-light);

      &.selected {
        &.item-animation-slide,
        &.item-direction-horizontal {
          box-shadow: 0 0 8px 4px rgba(var(--ion-color-primary-rgb), 0.4);
          border: 1px solid var(--ion-color-primary);
        }

        &.item-animation-fade,
        &.item-direction-vertical {
          box-shadow: 0 0 8px 4px rgba(var(--ion-color-secondary-rgb), 0.4);
          border: 1px solid var(--ion-color-secondary);
        }

        &.item-animation-none,
        &.item-direction-papyrus {
          box-shadow: 0 0 8px 4px rgba(var(--ion-color-tertiary-rgb), 0.4);
          border: 1px solid var(--ion-color-tertiary);
        }
      }

      deckgo-deck {
        --transition-fade-duration: 2000ms;

        deckgo-slide-title {
          --slide-padding-start: 4px;
          --slide-padding-bottom: 4px;
          --slide-padding-top: 4px;
          --slide-padding-end: 4px;
        }

        p {
          margin: 0;
        }
      }

      div.showcase-papyrus {
        height: 100%;
        overflow: scroll;

        deckgo-slide-title {
          --slide-height: 110px;

          --slide-padding-top: 32px;
          --slide-padding-bottom: 32px;
          --slide-padding-start: 0;
          --slide-padding-end: 0;
        }
      }
    }
  }
}
