app-slide-warning-info {
  button {
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    background: none;
    font-family: inherit;
    font-size: var(--font-size-small);
    margin-top: 12px;
  }
}
