@use "../../../../global/theme/mixins/deck";
@use "../../../../global/theme/mixins/dashboard";
@use "../../../../global/theme/mixins/page";

app-dashboard {
  @import "node_modules/@deckdeckgo/deck-utils/css/deck";

  main {
    @include page.input-colors;

    ion-router-link {
      padding-right: 4px;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;

      touch-action: manipulation;
      cursor: pointer;
    }

    div.container.loading {
      article {
        visibility: hidden;
        opacity: 0;
      }
    }

    article {
      cursor: pointer;

      visibility: visible;
      opacity: 1;

      transition: opacity 0.1s ease-out;

      aside {
        display: grid;
        grid-template-columns: 70% 30%;

        font-size: var(--font-size-small);

        padding: 0 8px;

        p:first-of-type {
          margin: 12px 0 4px;
          font-weight: 700;
        }

        p:last-of-type {
          margin: 2px 0 16px;
          font-size: var(--font-size-very-small);
        }

        app-dashboard-deck-actions {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 3;
        }
      }
    }

    deckgo-deck {
      background: white;

      pointer-events: none;

      @include deck.padding;
    }

    ion-searchbar[class*="sc-ion-searchbar"] {
      border: 1px solid #dedede;
      border-radius: 4px;

      --placeholder-opacity: 0.33;
    }

    div.container {
      @include dashboard.grid;

      ion-card.item {
        position: relative;

        width: var(--card-width);
        height: calc(var(--card-width) * 9 / 16);

        cursor: pointer;

        div.spinner {
          width: var(--slide-width);
          height: var(--slide-height);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          ion-label {
            margin: 8px;
          }
        }
      }
    }

    div.toolbar-actions {
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      padding-top: 4px;

      @media screen and (max-width: 768px) {
        ion-button {
          max-width: 128px;

          ion-label {
            white-space: initial;
          }
        }
      }
    }
  }
}
