app-spinner {
  div.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
