:host {
  direction: ltr;
}

div.deckgo-tools {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  animation: 0s ease 0s 1 normal none running none;

  pointer-events: none;

  background-image: linear-gradient(to bottom, var(--deckgo-inline-editor-background-top, white), var(--deckgo-inline-editor-background-bottom, white));
  background-repeat: repeat-x;

  border: var(--deckgo-inline-editor-border);
  border-radius: var(--deckgo-inline-editor-border-radius, 8px);
  padding: var(--deckgo-inline-editor-padding, 0 8px);

  z-index: var(--deckgo-inline-editor-zindex, 1);

  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--deckgo-inline-editor-width, inherit);

  transform: var(--deckgo-inline-editor-transform);

  box-shadow: var(--deckgo-inline-editor-box-shadow, 0 0 8px 4px rgba(0, 0, 0, 0.1));

  &.deckgo-tools-sticky,
  &.deckgo-tools-mobile.deckgo-tools-sticky {
    position: absolute;

    bottom: var(--deckgo-inline-editor-sticky-bottom, 0);
    left: 0;

    width: 100%;
    border-radius: 0;

    z-index: var(--deckgo-inline-editor-sticky-zindex);

    height: var(--deckgo-inline-editor-sticky-height, 56px);

    padding-left: 0;

    deckgo-ie-action-button {
      margin: 0 2px;
    }

    deckgo-ie-triangle {
      display: none;
    }
  }

  &.deckgo-tools-activated {
    visibility: visible;
    opacity: 1;
  }

  &.deckgo-tools-mobile {
    box-shadow: var(--deckgo-inline-editor-mobile-box-shadow, 0 0 8px 4px rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(
      to bottom,
      var(--deckgo-inline-editor-mobile-background-top, #fff),
      var(--deckgo-inline-editor-mobile-background-bottom, #fff)
    );

    border: var(--deckgo-inline-editor-mobile-border, 0);
  }
}

:host(.deckgo-tools-ios) {
  div.deckgo-tools {
    &.deckgo-tools-mobile.deckgo-tools-sticky {
      top: calc(var(--deckgo-inline-editor-sticky-scroll, 0));
      bottom: inherit;
    }
  }
}
