:host {
  direction: ltr;
}

div.deckgo-tools {
  /**
   * @prop --deckgo-inline-editor-position: The position of the toolbar
   * @default absolute
   */
  position: var(--deckgo-inline-editor-position, absolute);
  visibility: hidden;
  opacity: 0;

  animation: 0s ease 0s 1 normal none running none;

  pointer-events: none;

  /**
   * @prop --deckgo-inline-editor-background-top: The top background of the toolbar (linear gradient)
   * @default white
   */
  /**
   * @prop --deckgo-inline-editor-background-bottom: The bottom background of the toolbar (linear gradient)
   * @default white
   */
  background-image: linear-gradient(to bottom, var(--deckgo-inline-editor-background-top, white), var(--deckgo-inline-editor-background-bottom, white));
  background-repeat: repeat-x;

  /**
   * @prop --deckgo-inline-editor-border: The border radius of the toolbar
   */
  border: var(--deckgo-inline-editor-border);
  /**
   * @prop --deckgo-inline-editor-border-radius: The border radius of the toolbar
   * @default 8px
   */
  border-radius: var(--deckgo-inline-editor-border-radius, 8px);
  /**
   * @prop --deckgo-inline-editor-padding: The padding of the toolbar
   * @default 0 8px
   */
  padding: var(--deckgo-inline-editor-padding, 0 8px);

  /**
   * @prop --deckgo-inline-editor-zindex: The z-Index of the toolbar
   * @default 1
   */
  z-index: var(--deckgo-inline-editor-zindex, 1);

  display: flex;
  justify-content: center;
  align-items: center;

  /**
   * @prop --deckgo-inline-editor-width: The width of the toolbar
   * @default inherit
   */
  width: var(--deckgo-inline-editor-width, inherit);

  /**
   * @prop --deckgo-inline-editor-transform: The transform property of the toolbar, useful for example if your viewport contains a split menu pane
   */
  transform: var(--deckgo-inline-editor-transform);

  /**
   * @prop --deckgo-inline-editor-box-shadow: A box shadow for the toolbar
   * @default 0 0 8px 4px rgba(0, 0, 0, 0.1)
   */
  box-shadow: var(--deckgo-inline-editor-box-shadow, 0 0 8px 4px rgba(0, 0, 0, 0.1));

  &.deckgo-tools-sticky,
  &.deckgo-tools-mobile.deckgo-tools-sticky {
    position: absolute;

    /**
     * @prop --deckgo-inline-editor-sticky-bottom: The bottom attribute of the sticky toolbar
     * @default 0
     */
    bottom: var(--deckgo-inline-editor-sticky-bottom, 0);
    left: 0;

    width: 100%;
    border-radius: 0;

    /**
     * @prop --deckgo-inline-editor-sticky-zindex: The z-Index of the sticky toolbar
     */
    z-index: var(--deckgo-inline-editor-sticky-zindex);

    /**
     * @prop --deckgo-inline-editor-sticky-height: The height of the sticky toolbar
     * @default 56px
     */
    height: var(--deckgo-inline-editor-sticky-height, 56px);

    padding-left: 0;

    deckgo-ie-action-button {
      margin: 0 2px;
    }

    deckgo-ie-triangle {
      display: none;
    }
  }

  &.deckgo-tools-activated {
    visibility: visible;
    opacity: 1;
  }

  &.deckgo-tools-mobile {
    /**
     * @prop --deckgo-inline-editor-mobile-box-shadow: A box shadow for the toolbar
     * @default 0 0 8px 4px rgba(0, 0, 0, 0.1)
     */
    box-shadow: var(--deckgo-inline-editor-mobile-box-shadow, 0 0 8px 4px rgba(0, 0, 0, 0.1));
    /**
     * @prop --deckgo-inline-editor-mobile-background-top: A top background for the toolbar (linear gradient)
     * @default #fff
     */
    /**
     * @prop --deckgo-inline-editor-mobile-background-bottom: A bottom background for the toolbar (linear gradient)
     * @default #fff
     */
    background-image: linear-gradient(
      to bottom,
      var(--deckgo-inline-editor-mobile-background-top, #fff),
      var(--deckgo-inline-editor-mobile-background-bottom, #fff)
    );

    /**
     * @prop --deckgo-inline-editor-mobile-border: Border of the toolbar
     * @default 0
     */
    border: var(--deckgo-inline-editor-mobile-border, 0);
  }
}

:host(.deckgo-tools-ios) {
  div.deckgo-tools {
    &.deckgo-tools-mobile.deckgo-tools-sticky {
      /**
       * @prop --deckgo-inline-editor-sticky-scroll: Top position if sticky
       * @default 0
       */
      top: calc(var(--deckgo-inline-editor-sticky-scroll, 0));
      bottom: inherit;
    }
  }
}

/* Other SCSS files of the component */

/**
 * @prop --deckgo-inline-editor-button-color-active: The color of the buttons when active
 * @default #3880ff
 */
/**
 * @prop --deckgo-inline-editor-link-zindex: The z-index property of the link input
 * @default 2
 */
/**
 * @prop --deckgo-inline-editor-link-color: The color property of the link input
 * @default black
 */
/**
 * @prop --deckgo-inline-editor-link-placeholder-color: The color of the place holder of the link input
 * @default black
 */
/**
 * @prop --deckgo-inline-editor-link-mobile-color: The color property of the link input on mobile
 * @default inherit
 */
/**
 * @prop --deckgo-inline-editor-link-mobile-placeholder-color: : The color of the place holder of the link input on mobile
 * @default inherit
 */
/**
 * @prop --deckgo-inline-editor-button-color: The buttons color
 * @default black
 */
/**
 * @prop --deckgo-inline-editor-button-mobile-color-active: The buttons color on mobile if active
 * @default #3880ff
 */
/**
 * @prop --deckgo-inline-editor-button-zindex: The z-index of the action buttons
 * @default 2
 */
/**
 * @prop --deckgo-inline-editor-button-font-size: The buttons font size
 * @default 1.4rem
 */
/**
 * @prop --deckgo-inline-editor-button-font-family: The buttons font family
 * @default inherit
 */
/**
 * @prop --deckgo-inline-editor-button-color-disabled: The color of the buttons when disabled
 * @default #f4f5f8
 */
/**
 * @prop --deckgo-inline-editor-button-display-disabled: Per default the disable elements on title elements are not displayed
 * @default none
 */
/**
 * @prop --deckgo-inline-editor-button-mobile-color-disabled: The color of the buttons when disabled on mobile
 * @default #f4f5f8
 */
/**
 * @prop --deckgo-inline-editor-separator-background: The background of the separator
 * @default #f4f5f8
 */
/**
 * @prop --deckgo-ie-separator-mobile-background: The background of the separator on mobile
 * @default #f4f5f8
 */
/**
 * @prop --deckgo-ie-triangle-start: The left position of the triangle
 * @default 8px
 */
/**
 * @prop --deckgo-inline-editor-triangle-box-shadow: The box-shadow of the triangle
 * @default 0 0 8px 0 rgba(0, 0, 0, 0.1)
 */
