app-publish-edit {
  p.meta-text {
    margin-bottom: 0;
  }

  ion-list.list-ios {
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  app-feed-card-tags {
    --card-tags-background: rgba(var(--ion-color-tertiary-rgb), 0.08);
    --card-tags-color: var(--ion-color-tertiary-shade);

    display: inline-block;
    padding-top: 8px;

    &:not(:empty) {
      height: 37px;
    }
  }

  p.small {
    font-size: var(--font-size-small);

    &.error {
      ion-icon {
        vertical-align: initial;
      }

      a {
        color: var(--ion-color-danger);
        cursor: pointer;

        border-bottom: 1px solid var(--ion-color-danger);

        &:hover {
          border-bottom: 1px solid var(--ion-color-danger);
        }
      }
    }
  }

  ion-item,
  p {
    &.error {
      color: var(--ion-color-danger);

      ion-icon {
        vertical-align: middle;
      }
    }
  }

  div.publish {
    min-height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    div.publishing {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      ion-label {
        margin-top: 8px;
        font-size: var(--font-size-small);
      }
    }
  }
}
