app-slot-type {
  div {
    h2 {
      color: var(--ion-color-primary);
    }
  }

  ion-list.list-ios {
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  ion-list {
    ion-item {
      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 17px;
      }

      h1,
      h2,
      h3,
      p {
        margin: 0;
      }

      ion-icon {
        color: var(--ion-color-dark);
      }

      span.placeholder {
        width: 26px;
        margin: 12px 22px 12px 0;
      }
    }
  }

  ion-item {
    --border-width: 0;
    --inner-border-width: 0;
  }

  a {
    color: inherit;
    cursor: pointer;
    display: block;

    &.current {
      ion-item {
        color: var(--ion-color-primary);
      }
    }

    @media (hover: hover) {
      &:hover {
        ion-item {
          color: var(--ion-color-primary);
        }
      }
    }

    &.skip {
      padding: 16px 16px 0;

      p {
        width: 100%;
        text-align: center;
      }
    }
  }
}
