app-slide-navigate {
  main {
    min-height: 100%;
    background: white;
  }

  ion-reorder-group {
    ion-item {
      --border-color: transparent;
    }
  }

  p {
    font-size: var(--font-size-very-small);
  }
}
