app-home {
  main {
    max-width: 1024px;

    section.hero {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 120px;

      --deckgo-logo-size: 4rem;
    }

    @media screen and (max-width: 720px) {
      section.hero {
        margin-bottom: 60px;
      }
    }

    section.overview {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 38px;

      > p,
      ul,
      li {
        flex: 0 0 50%;
        box-sizing: border-box;
      }

      > p {
        margin: 0;
        padding-right: 40px;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;

        li {
          font-size: var(--font-size-normal);

          ion-icon {
            color: var(--ion-color-success);
            padding-right: 0.5rem;
          }
        }
      }
    }

    section.cta {
      background: var(--ion-color-dark);
      color: var(--ion-color-light);

      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
      border-radius: 8px;

      margin-top: 64px;

      .cta__primary {
        padding: 80px 0;
      }

      .cta__secondary {
        font-size: var(--font-size-small);
      }

      deckgo-highlight-code {
        --deckgo-highlight-code-text-align: center;
        --deckgo-highlight-code-font-size: var(--font-size-h1);
      }
    }

    section.section {
      padding: 68px 0;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          flex: 1;
          padding-right: 32px;

          ion-icon {
            font-size: 2rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 720px) {
    main {
      section.section {
        padding-top: 40px;
        padding-bottom: 70px;

        ul {
          flex-direction: column;
          padding-bottom: 40px;

          li {
            padding-right: 0;
            padding-top: 40px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    main {
      section.overview {
        flex-direction: column;

        > p {
          text-align: center;
          padding: 0;
        }

        > p,
        ul {
          flex: 1;
          max-width: 568px;
          margin-left: auto;
          margin-right: auto;
        }

        ul {
          padding-top: 48px;
        }
      }
    }
  }
}
