footer {
  display: flex;
  width: 100%;
  flex: 0 0 8em;
  padding: 20px 0;

  div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.container-end {
      justify-content: flex-end;
    }

    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    flex: 1 0 auto;
    box-sizing: border-box;

    div.end {
      a {
        padding-right: 8px;

        &:first-of-type {
          --deckgo-logo-size: 16px;
        }

        ion-icon {
          color: var(--ion-text-color, #000);
        }
      }
    }
  }
}
