app-navigation-actions {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    color: black;
    cursor: pointer;

    font-weight: 400;

    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;

    padding: 4px;
    border-radius: 50%;

    &:hover,
    &:active {
      border-bottom-color: transparent;
    }

    ion-label {
      font-size: var(--font-size-small);
      margin-bottom: 6px;
      white-space: nowrap;
    }
  }

  button {
    border: none;
    font: inherit;
    background: none;

    cursor: pointer;
    pointer-events: all;
  }
}

body.dark {
  app-navigation-actions {
    button {
      color: white;
    }
  }
}
