app-navigation-actions {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button,
  ion-router-link {
    color: black;
    cursor: pointer;

    font-weight: 400;

    user-select: none;

    letter-spacing: 0.06em;

    &:hover,
    &:active {
      border-bottom-color: transparent;
    }
  }

  button {
    border: none;
    font: inherit;
    background: none;
    padding: 0;

    cursor: pointer;
    pointer-events: all;
  }

  button.signin {
    margin-right: 12px;
  }

  @media screen and (max-width: 392px) {
    button.wide-device,
    ion-router-link.wide-device {
      display: none;
    }
  }
}

body.dark {
  app-navigation-actions {
    button,
    ion-router-link {
      color: white;
    }
  }
}
