app-navigation-actions {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a,
  ion-router-link {
    color: black;
    cursor: pointer;

    font-weight: 400;

    user-select: none;

    &:hover,
    &:active {
      border-bottom-color: transparent;
    }
  }

  a.signin {
    margin-right: 8px;
  }

  @media screen and (max-width: 540px) {
    a.wide-device,
    ion-router-link.wide-device {
      display: none;
    }
  }
}

body.dark {
  app-navigation-actions {
    a,
    ion-router-link {
      color: white;
    }
  }
}
