// Style footer actions toolbar for fullscreen

ion-footer {
  position: absolute;
  bottom: 0;

  &.idle {
    display: none;
  }

  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  &[class*="footer"]::before {
    background: none;
    border: none;
  }

  app-actions-editor {
    width: fit-content;

    border-radius: 16px;
    margin: 32px;
    padding: 4px 8px 8px;

    background: rgba(var(--ion-color-dark-rgb), 0.8);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.12);

    div.indicator {
      outline: 1px solid transparent;

      ion-label {
        color: white;
      }

      button {
        color: white;

        &.selected:not([disabled])::after {
          background: white;
        }

        &::after {
          background: none;
        }
      }
    }

    ion-toolbar {
      --background: transparent;
      --color: white;

      ion-buttons {
        background: transparent;

        ion-icon {
          color: white;
        }
      }
    }
  }
}
