deckgo-deck {
  --padding-end: 64px;

  --slide-user-select: text;

  font-family: var(--font-family-default);

  h1,
  h2,
  h3,
  section,
  ol,
  ul,
  deckgo-reveal-list,
  deckgo-math,
  deckgo-word-cloud {
    border: 1px solid var(--ion-color-light);
  }

  h1 {
    min-height: calc(var(--font-size-h1) + 4px);
  }

  h2 {
    min-height: calc(var(--font-size-h2) + 4px);
  }

  h3 {
    min-height: calc(var(--font-size-h3) + 4px);
  }

  section {
    min-height: calc(var(--font-size-normal) + 4px);
    margin-top: 16px;
  }

  deckgo-highlight-code {
    code[slot] {
      min-height: 20px;

      font-size: var(--deckgo-highlight-code-font-size);
      font-family: var(--deckgo-highlight-code-font-family, monospace);
    }
  }

  deckgo-math {
    code[slot] {
      min-height: 23px;
    }
  }

  deckgo-math,
  deckgo-word-cloud {
    code {
      font-family: inherit;

      &:focus {
        outline: none;
      }
    }
  }

  deckgo-drr {
    section {
      border: none;
    }
  }

  a {
    cursor: pointer;
  }
}
