deckgo-deck {
  --background: white;
  --color: black;
  --padding-end: 64px;

  --slide-user-select: text;

  h1, h2, h3, div[slot], deckgo-highlight-code {
    width: 100%;
    overflow: hidden;

    border-radius: 2px;
    border: 1px solid var(--ion-color-light);

    padding: 8px;
  }

  h1 {
    min-height: calc(var(--font-size-h1) + 4px);
  }

  h2 {
    min-height: calc(var(--font-size-h2) + 4px);
  }

  h3 {
    min-height: calc(var(--font-size-h3) + 4px);
  }

  div[slot] {
    min-height: calc(var(--font-size-normal) + 4px);
  }

  deckgo-highlight-code {
    --deckgo-highlight-code-margin: 0;
  }

  deckgo-slide-split {
    div[slot] {
      height: fit-content;
    }
  }

  ol, ul {
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
  }

  a {
    cursor: pointer;
  }
}
