@mixin fullscreen() {
  #{if(&, "&", "*")}:-moz-full-screen {
    @content;
  }

  #{if(&, "&", "*")}:-webkit-full-screen {
    @content;
  }

  #{if(&, "&", "*")}:-ms-fullscreen {
    @content;
  }

  #{if(&, "&", "*")}:fullscreen {
    @content;
  }
}

@include fullscreen() {
  #ion-menu {
    display: none;
  }

  app-navigation {
    display: none;
  }

  ion-nav ion-content:not(.fullscreen-padding) {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }

  app-editor {
    main {
      &.idle {
        deckgo-deck {
          h1,
          h2,
          h3,
          section,
          ol,
          ul,
          deckgo-reveal-list,
          *:not([slot="background"]) > deckgo-lazy-img,
          deckgo-reveal[img],
          deckgo-math,
          deckgo-word-cloud,
          deckgo-markdown {
            border: 1px solid transparent;

            &:empty:not(:focus):after {
              content: none;
            }
          }

          deckgo-drr {
            pointer-events: none;
          }

          cursor: none;
          --deckgo-editable-cursor: none;
        }

        app-slide-warning {
          display: none;
        }
      }
    }
  }

  main {
    max-width: 100%;

    &.ready {
      box-shadow: none;
    }

    app-slide-warning {
      top: 32px;
      left: 32px;
    }
  }

  deckgo-inline-editor {
    --deckgo-inline-editor-transform: initial;
  }

  app-editor-toolbar {
    --editor-toolbar-padding: 32px;
  }

  ion-nav app-editor ion-content div.grid div.deck main {
    left: 50%
  }

  ion-content div.grid {
    display: block;

    --slides-aside-width: 0px;

    > app-breadcrumbs {
      display: none;
    }

    app-actions-editor {
      position: inherit;
    }
  }
}
