deckgo-deck {
  --padding-end: 64px;

  --slide-user-select: text;

  --pager-text-slides-display: block;

  h1, h2, h3, section, deckgo-highlight-code, deckgo-lazy-img[slot] {
    border-radius: 2px;
    border: 1px solid var(--ion-color-light);
  }

  h1 {
    min-height: calc(var(--font-size-h1) + 4px);
  }

  h2 {
    min-height: calc(var(--font-size-h2) + 4px);
  }

  h3 {
    min-height: calc(var(--font-size-h3) + 4px);
  }

  section {
    min-height: calc(var(--font-size-normal) + 4px);
    margin-top: 16px;
    overflow: auto;
  }

  deckgo-highlight-code {
    --deckgo-highlight-code-margin: 0;

    code[slot] {
      min-height: 26px;
    }
  }

  deckgo-slide-split {
    deckgo-highlight-code {
      height: fit-content;
    }
  }

  ol, ul {
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
  }

  a {
    cursor: pointer;
  }
}
