@mixin fullscreen() {
  #{if(&, "&", "*")}:-moz-full-screen {
    @content;
  }

  #{if(&, "&", "*")}:-webkit-full-screen {
    @content;
  }

  #{if(&, "&", "*")}:-ms-fullscreen {
    @content;
  }

  #{if(&, "&", "*")}:fullscreen {
    @content;
  }
}

@include fullscreen() {
  #ion-menu {
    display: none;
  }

  app-navigation {
    display: none;
  }

  ion-nav ion-content:not(.fullscreen-padding) {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }

  ion-footer {
    position: absolute;
    bottom: 0;

    &.idle {
      display: none;
    }
  }

  main {
    max-width: 100%;

    &.ready {
      box-shadow: none;
    }

    &.idle {
      deckgo-deck {
        h1,
        h2,
        h3,
        section,
        ol,
        ul,
        deckgo-reveal-list,
        *:not([slot="background"]) > deckgo-lazy-img,
        deckgo-reveal[img] {
          border: 1px solid transparent;
        }

        [highlighted] {
          box-shadow: none;
        }
      }
    }

    deckgo-deck {
      --pager-display: none;
    }
  }

  deckgo-inline-editor {
    --deckgo-inline-editor-transform: initial;
  }

  app-editor-toolbar {
    --editor-toolbar-padding: 32px;
  }
}
