// Synchro with https://github.com/deckgo/deckdeckgo-starter/blob/master/src/css/font.css

deckgo-deck {
  *:not(b), h3, h4, h5, h6 {
    font-weight: 300;
  }

  a, strong {
    font-weight: 500;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.4em;
  }

  code {
    font-size: 1.4em;
    font-family: Menlo, monospace;
  }

  div[slot] {
    font-size: 1.4em;

    ol, ul {
      font-size: inherit;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: 100%
  }

  --deckgo-highlight-code-font-size: 1.4em;
  --deckgo-highlight-code-font-family: Menlo, monospace;

  --pager-text-size: 0.6rem;

  ion-label, ion-label[text-wrap].sc-ion-label-md-h, p {
    font-size: 1em;
  }
}

@media(max-width: 768px) {
  deckgo-deck {
    h1 {
      font-size: 2.4em;
    }

    h3 {
      font-size: 1.2em;
    }
  }
}
