main {
  deckgo-deck {
      deckgo-lazy-img {
        // In deckgo-deck, pointer-events are set to none in order to avoid dragging while presenting
        --deckgo-lazy-img-pointer-events: all;
      }

    deckgo-social {
      // Except for social links
      pointer-events: none;

      deckgo-lazy-img {
        --deckgo-lazy-img-pointer-events: none;
      }
    }
  }
}
