// Synchro with https://github.com/deckgo/deckdeckgo-starter/blob/master/src/css/deck.css

deckgo-deck {
  --background: white;
  --color: black;
}

deckgo-deck h1, deckgo-deck h2, deckgo-deck h3, deckgo-deck section, deckgo-deck deckgo-highlight-code {
  width: 100%;

  padding: 8px;
}

deckgo-deck h1, deckgo-deck h2, deckgo-deck h3, deckgo-deck section, deckgo-deck deckgo-highlight-code, deckgo-deck deckgo-lazy-img[slot] {
  margin: 16px 0;
}

deckgo-slide-split {
  --slide-split-padding-top: 64px;
  --slide-split-padding-bottom: 64px;
}

@media screen and (max-width: 1024px) {
  deckgo-slide-split {
    --slide-split-padding-top: 16px;
    --slide-split-padding-bottom: 16px;
  }
}

deckgo-deck deckgo-social {
  display: flex;
}

deckgo-deck deckgo-highlight-code {
  margin: 8px 0;
}

deckgo-deck deckgo-social deckgo-lazy-img {
  --deckgo-lazy-img-width: 2rem;
  --deckgo-lazy-img-height: auto;
  --deckgo-lazy-img-vertical-align: top;
  --deckgo-lazy-img-padding: 0 8px 0 0;
}

deckgo-deck deckgo-lazy-img[slot] {
  width: 100%;
  height: auto;
  max-height: 100%;

  --deckgo-lazy-img-width: auto;
  --deckgo-lazy-img-height: 100%;
  --deckgo-lazy-img-vertical-align: top;
  --deckgo-lazy-img-object-fit: contain;
}

deckgo-deck > * div[slot="background"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

deckgo-deck [slot="background"] > deckgo-lazy-img {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  --deckgo-lazy-img-min-width: 100%;
}
