@mixin fullscreen() {
  &:-moz-full-screen {
    @content;
  }

  &:-webkit-full-screen {
    @content;
  }

  &:-ms-fullscreen {
    @content;
  }

  &:fullscreen {
    @content;
  }
}

@include fullscreen() {
  #ion-menu {
    display: none;
  }

  app-navigation {
    display: none;
  }

  ion-content:not(.fullscreen-padding) {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }

  ion-split-pane.split-pane-visible ion-content:not(.fullscreen-padding) {
    --padding-top: 0;
  }

  ion-footer {
    position: absolute;
    bottom: 0;

    &.idle {
      display: none;
    }
  }

  main {
    max-width: 100%;

    &.idle {
      deckgo-deck {
        h1, h2, h3, section, deckgo-highlight-code {
          border: 1px solid transparent;
        }
      }
    }

    &:not(.idle) {
      deckgo-deck {
        --pager-display: none;
      }
    }

    // Fonts
    deckgo-deck {
      font-size: 32px;

      ion-label, ion-label[text-wrap].sc-ion-label-md-h, p {
        font-size: 32px;
      }
    }
  }

  deckgo-inline-editor {
    --deckgo-inline-editor-transform: initial;
  }

  app-editor-toolbar {
    --editor-toolbar-padding: 32px;
  }
}
