deckgo-deck {
  --background: white;
  --color: black;
  --padding-end: 64px;

  --slide-user-select: text;

  h1, h2, h3, p {
    width: 100%;
    overflow: hidden;

    border-radius: 2px;
    border: 1px solid var(--ion-color-light);

    padding: 8px;
  }

  deckgo-slide-gif {
    --min-width: 75%;
    --border-radius: 2px;
    --text-transform: uppercase;
  }

  p {
    min-height: calc(var(--font-size-normal) + 4px);
  }

  deckgo-slide-split {
    p {
      height: fit-content;
    }
  }
}
