deckgo-deck {

  h1, h2, h3 {
    &:empty:not(:focus):after {
      content: "Click to add title";
    }
  }

  section {
    &:empty:not(:focus):after {
      content: "Click to add content";
    }
  }

  deckgo-slide-split {
    h1, h2, h3 {
      &:empty:not(:focus):after {
        content: "Click to add content";
      }
    }
  }

  deckgo-slide-gif {
    h1, h2, h3, section {
      &:empty:not(:focus):after {
        content: "Click to add a caption";
      }
    }
  }

}
