deckgo-deck {

  h1, h2, h3 {
    &:empty:not(:focus):after {
      content: "Click to add title";
    }
  }

  section {
    &:empty:not(:focus):after {
      content: "Click to add content";
    }
  }

  > * > deckgo-lazy-img {
    &:not([img-src]) {
      background: var(--ion-color-light);
      position: relative;
      height: 50%;
      --deckgo-lazy-img-width: auto;

      &::after {
        content: "Click to add an image";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
      }
    }
  }

  deckgo-slide-split {
    h1, h2, h3 {
      &:empty:not(:focus):after {
        content: "Click to add content";
      }
    }

    deckgo-lazy-img {
      &:not([img-src]) {
        height: 100%;
      }
    }
  }

  deckgo-slide-gif {
    h1, h2, h3, section {
      &:empty:not(:focus):after {
        content: "Click to add a caption";
      }
    }
  }

  deckgo-slide-author {
    h1, h2, h3, section {
      &:empty:not(:focus):after {
        content: "Click to tell something about yourself";
      }
    }
  }

}
