app-actions-editor {
  background: var(--ion-color-light);
  display: block;

  ion-toolbar {
    --ion-toolbar-border-color: transparent;
    --ion-toolbar-background: var(--ion-color-light);
  }

  &.hidden {
    display: none;
  }

  app-actions-deck,
  app-actions-element {
    &.hidden {
      display: none;
    }

    ion-toolbar {
      height: 100%;

      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0 12px;

        position: relative;

        outline: none;

        color: inherit;

        border-radius: 2px;
        background: transparent;

        &:focus {
          background: rgba(var(--ion-color-medium-rgb), 0.1);
        }

        ion-icon {
          font-size: 22px;
          margin: 6px 0 4px;
        }

        ion-label {
          font-size: var(--font-size-small);
          margin-bottom: 6px;
          white-space: nowrap;
        }
      }
    }
  }

  &.fullscreen {
    background: rgba(var(--ion-color-dark-rgb), 0.8);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.12);

    transition: opacity 0.2s ease-in;

    visibility: visible;
    opacity: 1;

    &.hidden-bottom-sheet {
      opacity: 0;
      visibility: hidden;
    }

    div.indicator {
      outline: 1px solid transparent;

      ion-label {
        color: white;
      }

      button {
        color: white;

        &.selected:not([disabled])::after {
          background: white;
        }

        &::after {
          background: none;
        }
      }
    }

    ion-toolbar {
      --background: transparent;
      --color: white;

      ion-buttons {
        background: transparent;

        ion-icon {
          color: white;
        }
      }
    }
  }

  div.indicator {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;

    outline: 1px solid var(--ion-color-light);
  }

  button {
    ion-icon {
      color: var(--ion-color-primary);
    }

    ion-label {
      user-select: none;
    }
  }

  @media screen and (max-width: 768px) {
    button,
    app-action-share,
    app-action-busy,
    app-action-help {
      &.wider-devices {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    button,
    app-action-share,
    app-action-busy,
    app-action-help {
      &.small-devices {
        display: none;
      }
    }
  }
}
