app-actions-editor {
  background: var(--ion-color-light);
  display: block;

  &.hidden {
    display: none;
  }

  app-actions-deck,
  app-actions-element {
    &.hidden {
      display: none;
    }

    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 0 12px;

      position: relative;

      outline: none;

      color: inherit;

      border-radius: 2px;
      background: transparent;

      &:focus {
        background: rgba(var(--ion-color-medium-rgb), 0.1);
      }

      ion-icon {
        font-size: 22px;
        margin: 6px 0 4px;
      }

      ion-label {
        font-size: var(--font-size-small);
        margin-bottom: 6px;
        white-space: nowrap;
      }
    }
  }

  &:not(.fullscreen) {
    aside {
      height: 100%;

      padding: 16px 0;

      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      ion-buttons {
        flex-direction: column;

        &:last-of-type {
          margin-top: 32px;
        }

        button {
          padding: 2px 12px;

          ion-icon {
            padding: 6px;
            border-radius: 50%;
            background: white;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
          }
        }
      }

      @media screen and (max-width: 992px) {
        padding: 0 16px;
        min-height: 58px;

        justify-content: center;
        flex-direction: row;

        ion-buttons {
          flex-direction: row;

          &:last-of-type {
            margin-top: inherit;
            margin-left: 32px;
          }
        }
      }
    }
  }

  &.fullscreen {
    background: rgba(var(--ion-color-dark-rgb), 0.8);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.12);

    transition: opacity 0.2s ease-in;

    visibility: visible;
    opacity: 1;

    &.hidden-bottom-sheet {
      opacity: 0;
      visibility: hidden;
    }

    app-breadcrumbs {
      background: transparent;

      outline: 1px solid transparent;

      ion-label {
        color: white;
      }

      button {
        color: white;

        &.selected:not([disabled])::after {
          background: white;
        }

        &::after {
          background: none;
        }
      }
    }

    aside {
      display: flex;
      justify-content: space-between;

      color: white;

      ion-buttons {
        ion-icon {
          color: white;
        }
      }
    }
  }

  button {
    ion-label {
      user-select: none;
    }
  }

  @media screen and (max-width: 768px) {
    button,
    app-action-share,
    app-action-busy,
    app-action-help {
      &.wider-devices {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    button,
    app-action-share,
    app-action-busy,
    app-action-help {
      &.small-devices {
        display: none;
      }
    }
  }
}
