@import "./deckdeckgo-slide";

div.deckgo-slide {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0;

  .crop {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}
