@import "./deckdeckgo-slide";
@import "./deckdeckgo-slide-slots";

div.deckgo-slide {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0;

  .deckgo-big-img-container {
    overflow: hidden;
    text-align: center;

    img {
      max-width: var(--slide-img-max-width);

      &:not(.cropped) {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

::slotted([slot="title"]) {
  display: none;
}
