button {
  pointer-events: initial;
  cursor: pointer;

  margin: 0;

  height: 44px;
  line-height: 44px;

  z-index: var(--deckgo-inline-editor-button-zindex, 2);

  display: inline-block;
  vertical-align: middle;

  border: 0;
  color: var(--deckgo-inline-editor-button-color, #3880ff);

  transition: 0.1s background-color, 0.1s border-color, 0.1s fill;

  background: transparent;

  font-size: var(--deckgo-inline-editor-button-font-size, 1.4rem);
  font-family: var(--deckgo-inline-editor-button-font-family, inherit);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  outline: 0;

  &.italic,
  &.bold,
  &.underline {
    margin: 0 2px;
  }

  &.italic {
    font-style: italic;
  }

  &.underline {
    &.active {
      span {
        border-bottom: 2px solid var(--deckgo-inline-editor-button-color-active, black);
      }
    }

    span {
      border-bottom: 2px solid var(--deckgo-inline-editor-button-color, #3880ff);
    }
  }

  &.active {
    color: var(--deckgo-inline-editor-button-color-active, black);
  }

  &[disabled] {
    color: var(--deckgo-inline-editor-button-color-disabled, #f4f5f8);
    display: var(--deckgo-inline-editor-button-display-disabled, none);
  }

  &.active {
    > div {
      background-color: var(--deckgo-inline-editor-button-color-active, black);
    }
  }

  &[disabled] {
    > div {
      background-color: var(--deckgo-inline-editor-button-color-disabled, #f4f5f8);
    }
  }
}

:host(.deckgo-tools-mobile) {
  button {
    color: var(--deckgo-inline-editor-button-mobile-color, black);
    padding: 0 4px;

    &.active {
      color: var(--deckgo-inline-editor-button-mobile-color-active, #3880ff);
    }

    &.underline {
      &.active {
        span {
          border-bottom: 2px solid var(--deckgo-inline-editor-button-mobile-color-active, #3880ff);
        }
      }

      span {
        border-bottom: 2px solid var(--deckgo-inline-editor-button-mobile-color, black);
      }
    }

    &[disabled] {
      color: var(--deckgo-inline-editor-button-mobile-color-disabled, #f4f5f8);
    }

    > div {
      background-color: var(--deckgo-inline-editor-button-mobile-color, black);
    }

    &.active {
      > div {
        background-color: var(--deckgo-inline-editor-button-mobile-color-active, #3880ff);
      }
    }

    &[disabled] {
      > div {
        background-color: var(--deckgo-inline-editor-button-mobile-color-disabled, #f4f5f8);
      }
    }
  }
}

::slotted(*) {
  pointer-events: none;
}
