:host {
  display: block;

  height: 100%;
  width: 100%;

  ::slotted([slot="words"]) {
    display: none;
  }

  div.placeholder:not(:empty) {
    display: none;
  }
}

:host([editable]) {
  div.placeholder:empty:not(:focus):after {
    content: var(--deckgo-word-cloud-empty-text, "Click to add your words");

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

:host(.deckgo-word-cloud-edit) {
  ::slotted([slot="words"]) {
    white-space: pre-wrap;

    width: 100%;
    height: 100%;

    text-align: center;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  svg.words {
    display: none;
  }

  div.placeholder {
    display: none;
  }
}

div.deckgo-word-cloud-container {
  height: 100%;
  position: relative;

  div.placeholder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;
  }
}

::slotted([slot="words"]) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
