ion-segment {
  margin-bottom: 16px;
}

// Source: https://www.w3schools.com/howto/howto_css_devices.asp

div.laptop-container {

  /* The laptop with borders */
  .laptop {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    left: 50%;
    position: absolute;
    width: 360px;
    height: 250px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 24px 24px 80px;
    background-color: black;

  }

  /* The top of the keyboard */
  .laptop:before {
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 20px;
    bottom: -100px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
  }

  /* The screen (or content) of the device */
  .laptop .content {
    width: 366px;
    height: 300px;
    overflow: hidden;
    border: none;
  }

  /* The keyboard of the laptop */
  .laptop:after {
    content: '';
    display: block;
    position: absolute;
    width: 500px;
    height: 40px;
    margin: 22px 0 0 -70px;
    background: black;
    border-radius: 6px;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

div.smartphone-container {

  /* The device with borders */
  .smartphone {
    position: relative;
    width: calc(360px / 3.5);
    height: calc(640px / 3.5);
    margin: auto;
    border: 16px black solid;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-radius: 36px;
  }

  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }

  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: -21px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }

  /* The screen (or content) of the device */
  .smartphone .content {
    width: 100%;
    height: 100%;
    margin: 0;
    background: white;

    position: relative;
    overflow: hidden;
  }
}

div.tablet-container {

  /* The device with borders */
  .tablet {
    position: relative;
    width: calc(1024px / 4);
    height: calc(768px / 4);
    margin: auto;
    border: 16px black solid;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-radius: 36px;
  }

  /* The horizontal line on the top of the device */
  .tablet:before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }

  /* The circle on the bottom of the device */
  .tablet:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: -21px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }

  /* The screen (or content) of the device */
  .tablet .content {
    width: 100%;
    height: 100%;
    background: white;
    margin: 0;
  }
}

div.beamer-container {
  height: 200px;
  padding: 8px 16px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
