:host {
  display: flex;
  position: relative;

  margin: var(--deckgo-color-input-margin, 4px);
}

span {
  width: var(--deckgo-color-hash-width, 28px);
  height: var(--deckgo-color-hash-height, 28px);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: var(--deckgo-color-hash-background, rgb(240, 240, 240) none repeat scroll 0 0);
  color: var(--deckgo-color-hash-color, rgb(152, 161, 164));

  border-radius: var(--deckgo-color-hash-border-radius, 4px 0 0 4px);
}

input {
  color: var(--deckgo-color-input-color, rgb(102, 102, 102));
  background: var(--deckgo-color-input-background, inherit);

  border: none;
  outline: none;

  height: var(--deckgo-color-input-height, 28px);

  box-shadow: var(--deckgo-color-input-box-shadow, rgb(240, 240, 240) 0 0 0 1px inset);
  border-radius: var(--deckgo-color-input-border-radius, 0 4px 4px 0);

  padding: var(--deckgo-color-input-padding, 0 4px);

  max-width: var(--deckgo-color-input-max-width, 136px);

  font-family: var(--deckgo-color-input-font-family, inherit);
}
