app-feed {

  width: 100%;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active{
    text-decoration: none;

    touch-action: manipulation;
    cursor: pointer;
  }

  deckgo-lazy-img {
    display: block;
  }

  ion-card[class*="sc-ion-card"] {
    --background: white;
  }

}
