app-feed {
  ion-refresher {
    z-index: 1;

    ion-icon,
    ion-spinner {
      color: var(--ion-color-primary);
    }
  }

  main {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-column-gap: 16px;
    justify-items: center;

    div.feed {
      width: 100%;
      max-width: 720px;

      grid-column-start: 2;
      grid-column-end: 2;
    }

    app-popular {
      &.description {
        grid-column-start: 1;
        grid-column-end: 1;
      }

      &.help {
        grid-column-start: 3;
        grid-column-end: 3;
      }
    }

    @media (max-width: 1200px) {
      grid-template-columns: minmax(100px, 720px);
      justify-content: center;

      div.feed {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      app-popular {
        display: none;
      }
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;

    touch-action: manipulation;
    cursor: pointer;
  }

  ion-card[class*="sc-ion-card"] {
    --background: white;
  }

  ion-infinite-scroll {
    ion-spinner {
      color: var(--ion-color-primary);
    }
  }

  div.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
