deckgo-excalidraw {
  display: block;

  height: 100%;
  width: 100%;
  max-height: 100%;

  overflow: hidden;
}

.excalidraw-wrapper {
  height: 100%;
  width: 100%;
}

@media (min-width: 844px) {
  deckgo-excalidraw {
    .excalidraw-wrapper .App-menu_top {
      grid-template-columns: 20% 60% 20%;
    }

    .excalidraw-wrapper .App-menu_top .Stack section {
      max-width: fit-content;
    }

    .excalidraw-wrapper .App-menu_top > section {
      max-width: fit-content;
      justify-content: center;
    }

    .excalidraw-wrapper .App-menu_bottom .Stack section {
      max-width: fit-content;
      justify-content: center;
    }

    .excalidraw-wrapper footer {
      display: flex;
      justify-content: center;
    }

    .excalidraw-wrapper footer > div:last-of-type,
    .excalidraw-wrapper footer > button:last-of-type {
      display: none;
    }
  }
}

.ToolIcon__lock,
.ToolIcon__library,
.scroll-back-to-content {
  display: none !important;
}

canvas {
  position: absolute;
  top: 0;
}

/** global **/
div.excalidraw.excalidraw-modal-container {
  z-index: 1000;
}
