app-expansion-panel {
  display: block;

  article {
    > div {
      overflow: hidden;
      transition: height 0.25s ease-in;

      ion-list[class*="list"] {
        padding: 0;
      }
    }

    > ion-item {
      font-size: var(--font-size-normal);

      > ion-icon {
        margin: 12px 8px 12px 0;
        color: black;
        font-size: var(--font-size-small);

        transition: transform 0.25s ease-in;
      }

      div[slot="end"] {
        opacity: 1;

        transition: opacity 0.25s ease-in;
      }
    }

    &.close {
      > ion-item {
        > ion-icon {
          transform: rotate(-90deg);
        }

        div[slot="end"] {
          opacity: 0;
        }
      }
    }
  }
}
