app-editor {
  main {
    position: relative;

    width: 100%;
    max-width: 720px;
    height: 100%;

    margin: auto;

    overflow: hidden;

    deckgo-deck {
      --background: white;
      --padding-end: 64px;
    }
  }


  @media screen and (min-width: 992px) {
    deckgo-inline-editor {
      --deckgo-inline-editor-transform: translate(-270px, 0);
    }
  }

  @media screen and (min-width: 1140px) {
    main {
      max-width: 960px;
    }
  }
}
