@import "../../../global/theme/editor/editor-deck";
@import "../../../global/theme/editor/editor-deck-fonts";

app-editor {
  main {
    position: relative;

    width: 100%;
    max-width: 720px;
    height: 100%;

    margin: auto;

    overflow: hidden;
  }

  deckgo-inline-editor {
    --deckgo-inline-editor-button-mobile-color: var(--ion-color-dark);

    ion-icon[slot="link"] {
      padding-top: 12px;
      font-size: 1.2rem;
    }
  }

  @media screen and (min-width: 992px) {
    deckgo-inline-editor {
      --deckgo-inline-editor-transform: translate(-270px, 0);
    }
  }

  @media screen and (min-width: 1140px) {
    main {
      max-width: 960px;
    }
  }
}
