@import "~prismjs/themes/prism.css";

:host {
  ::slotted([slot="code"]) {
    display: none;
  }
}

:host(.deckgo-highlight-code-edit) {
  ::slotted([slot="code"]) {
    display: block;
    white-space: pre-wrap;
  }

  code {
    display: none;
  }
}

:host([editable]) {
  code:empty:not(:focus):after {
    content: var(--deckgo-highlight-code-empty-text, "Click to add your code");
  }
}

:host(.deckgo-highlight-code-carbon) {
  display: var(--deckgo-highlight-code-carbon-display, block);
  overflow: var(--deckgo-highlight-code-carbon-overflow, auto);
  border: var(--deckgo-highlight-code-carbon-border);
  border-radius: var(--deckgo-highlight-code-carbon-border-radius, 4px);
  background: var(--deckgo-highlight-code-carbon-background, #282a36);
  color: var(--deckgo-highlight-code-carbon-color, white);
  box-shadow: var(--deckgo-highlight-code-carbon-box-shadow, rgba(0, 0, 0, 0.55) 0 8px 16px);
  margin: var(--deckgo-highlight-code-carbon-margin, 16px 0);
}

:host(.deckgo-highlight-code-carbon) ::slotted([slot="code"]) {
  color: var(deckgo-highlight-code-carbon-color, white);
}

div.deckgo-highlight-code-container {
  color: var(--deckgo-highlight-code-color, inherit);
  background: var(--deckgo-highlight-code-background);
  padding: var(--deckgo-highlight-code-padding, 0 16px);
  border-radius: var(--deckgo-highlight-code-border-radius);

  margin: var(--deckgo-highlight-code-margin, 0 0 16px);

  transform-origin: bottom left;
  transition: all .2s ease-in-out;
  transform: scale(var(--deckgo-highlight-code-zoom, 1));

  direction: var(--deckgo-highlight-code-direction, ltr);
  text-align: var(--deckgo-highlight-code-text-align, start);

  width: var(--deckgo-highlight-code-container-width);
  height: var(--deckgo-highlight-code-container-height);
  display: var(--deckgo-highlight-code-container-display, block);
  justify-content: var(--deckgo-highlight-code-container-justify-content);
  flex-direction: var(--deckgo-highlight-code-container-flex-direction);
  align-items: var(--deckgo-highlight-code-container-align-items);

  code {
    overflow-y: var(--deckgo-highlight-code-scroll, scroll);

    white-space: pre-wrap;

    font-size: var(--deckgo-highlight-code-font-size);
    font-family: var(--deckgo-highlight-code-font-family, monospace);

    display: var(--deckgo-highlight-code-display, block);

    counter-reset: linenumber;

    > div.deckgo-highlight-code-line-number {
      counter-increment: linenumber;
      position: relative;
      padding-left: 3.5em;

      &:before {
        content: counter(linenumber);
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2.5em;
        background: inherit;
        border-right: 1px solid var(--deckgo-highlight-code-line-numbers, #999);
        color: var(--deckgo-highlight-code-line-numbers, #999);
      }
    }

    span.deckgo-highlight-code-anchor-hidden {
      visibility: hidden;
    }

    .deckgo-highlight-code-line {
      background: var(--deckgo-highlight-code-line-background, #3E4564);
      border-top: var(--deckgo-highlight-code-line-border-top);
      border-bottom: var(--deckgo-highlight-code-line-border-bottom);
    }

    /* Prism style override */
    .language-css .token.string:not(.deckgo-highlight-code-line),
    .style .token.string:not(.deckgo-highlight-code-line),
    .token.entity:not(.deckgo-highlight-code-line),
    .token.operator:not(.deckgo-highlight-code-line),
    .token.url:not(.deckgo-highlight-code-line) {
      background: inherit;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: var(--deckgo-highlight-code-token-comment, #6272a4);
    }

    .token.punctuation {
      color: var(--deckgo-highlight-code-token-punctuation, #6272a4);
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: var(--deckgo-highlight-code-token-property, #bd93f9);
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
      color: var(--deckgo-highlight-code-token-selector, #50fa7b);
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
      color: var(--deckgo-highlight-code-token-operator, #ff79c6);
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
      color: var(--deckgo-highlight-code-token-atrule, #ff79c6);
    }

    .token.function,
    .token.class-name {
        color: var(--deckgo-highlight-code-token-function, #ffb86c);
    }

    .token.regex,
    .token.important,
    .token.variable {
      color: var(--deckgo-highlight-code-token-regex, #f1fa8c);
    }
  }
}


div.carbon {
  display: flex;
  justify-content: flex-start;
  padding: var(--deckgo-highlight-code-carbon-header-padding, 16px);

  > div {
    width: var(--deckgo-highlight-code-carbon-header-button-width, 12px);
    height: var(--deckgo-highlight-code-carbon-header-button-heeght, 12px);
    border-radius: var(--deckgo-highlight-code-carbon-header-button-border-radius, 50%);
    margin: var(--deckgo-highlight-code-carbon-header-button-margin, 0 6px 0 0);

    &.red {
      background: var(--deckgo-highlight-code-carbon-header-button-red-background, #FF5F56);
      border: var(--deckgo-highlight-code-carbon-header-button-red-border, 0.5px solid #E0443E);
    }

    &.yellow {
      background: var(--deckgo-highlight-code-carbon-header-button-yellow-background, #FFBD2E);
      border: var(--deckgo-highlight-code-carbon-header-button-yellow-border, 0.5px solid #DEA123);
    }

    &.green {
      background: var(--deckgo-highlight-code-carbon-header-button-green-background, #27C93F);
      border: var(--deckgo-highlight-code-carbon-header-button-green-border, 0.5px solid #1AAB29);
    }
  }

}
