@import "./deckdeckgo-slide";
@import "./deckdeckgo-slide-slots";

div.deckgo-slide {
  flex-direction: column;
  align-items: flex-start;
  justify-content: var(--slide-content-justify-content, flex-start);
}

::slotted([slot="title"]),
::slotted([slot="content"]) {
  user-select: text;
}
