@mixin assets {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - (2 * 32px)) / 3));
  grid-auto-flow: row dense;
  grid-gap: 32px;

  article {
    position: relative;
  }

  ion-infinite-scroll.infinite-scroll-enabled {
    font-size: var(--font-size-very-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.infinite-loading {
      margin-bottom: 0;
    }
  }

  ion-label.empty {
    grid-column-start: 1;
    grid-column-end: 4;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    ion-spinner {
      width: 0.8rem;
      margin: 0 4px;
    }
  }
}
