@mixin edit {
  cursor: pointer;
  pointer-events: initial;

  border: none;
  outline: none;
  font: inherit;
  color: inherit;

  user-select: none;

  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);

  width: 2rem;
  height: 2rem;

  margin: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;

  ion-icon {
    font-size: 1.2rem;
    color: var(--ion-color-dark);
  }

  &.disabled {
    border: 1px solid var(--ion-color-light);

    ion-icon {
      color: var(--ion-color-light);
    }
  }
}

@mixin grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);

  --card-width: calc((100vw - 64px - 48px) / 4);

  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    --card-width: calc((100vw - 64px - 48px) / 3);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    --card-width: calc((100vw - 64px - 48px) / 2);
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    --card-width: calc(100vw - 64px);
  }
}
