@mixin padding {
  --slide-padding-start: 4px;
  --slide-padding-top: 8px;
  --slide-padding-end: 4px;
  --slide-padding-bottom: 8px;

  deckgo-slide-split {
    --slide-split-padding-start: 8px;
    --slide-split-padding-top: 8px;
    --slide-split-padding-end: 8px;
    --slide-split-padding-bottom: 8px;
  }

  --deckgo-highlight-code-carbon-header-padding: 2px 8px;
  --deckgo-highlight-code-carbon-header-button-width: 2px;
  --deckgo-highlight-code-carbon-header-button-height: 2px;
  --deckgo-highlight-code-margin: 0 0 4px;
  --deckgo-highlight-code-padding: 0 8px;

  --deckgo-highlight-code-carbon-margin: 8px 0;
  --deckgo-highlight-code-ubuntu-margin: 8px 0;

  --deckgo-highlight-code-carbon-box-shadow: rgba(0, 0, 0, 0.55) 0 2px 4px;
  --deckgo-highlight-code-ubuntu-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);

  --deckgo-highlight-code-ubuntu-header-height: 8px;
  --deckgo-highlight-code-ubuntu-header-button-width: 4px;
  --deckgo-highlight-code-ubuntu-header-button-height: 4px;
  --deckgo-highlight-code-ubuntu-header-button-span-display: none;

  --deckgo-markdown-container-padding: 4px 8px;

  deckgo-slide-chart:not([type="pie"]) {
    --deckgo-chart-margin: 8px;
  }

  .deckgo-slide-container {
    > * {
      margin: 0;
      padding: 0;
      border-color: transparent;
    }
  }
}
