app-code {

  ion-list.list-ios {
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  ion-item {
    --border-width: 0;
    --inner-border-width: 0;
    
    &.select {
      ion-label:first-of-type {
        display: none;
      }

      ion-select {
        min-width: 100%;
        padding-left: 0;
      }
    }
  }

  ion-item-divider {
    --color: var(--ion-color-primary);
    --background: inherit;
    --ion-item-border-color: transparent;
    --ion-padding: 0;
  }
}
