:host(.deckgo-tools-sticky) {
  deckgo-ie-action-button {
    margin: 0 2px;
  }
}

deckgo-ie-action-button.active {
  --deckgo-inline-editor-button-color: var(--deckgo-inline-editor-button-color-active, #3880ff);
}

deckgo-ie-action-button:first-of-type {
  --deckgo-inline-editor-button-font-size: 0.8rem;
}

deckgo-ie-action-button:nth-of-type(2) {
  --deckgo-inline-editor-button-font-size: 1rem;
}

deckgo-ie-action-button:nth-of-type(3) {
  --deckgo-inline-editor-button-font-size: 1.2rem;
}

deckgo-ie-action-button:nth-of-type(5) {
  --deckgo-inline-editor-button-font-size: 1.6rem;
}

deckgo-ie-action-button:nth-of-type(6) {
  --deckgo-inline-editor-button-font-size: 1.8rem;
}

deckgo-ie-action-button:nth-of-type(7) {
  --deckgo-inline-editor-button-font-size: 2rem;
}
