app-footer {
  div {
    font-size: var(--font-size-small);

    > ion-label {
      display: block;
      padding-bottom: 6px;
    }

    ion-anchor {
      padding: 4px 0;
      display: block;
      width: max-content;
    }
  }

  hr {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }
}

ion-split-pane {

  &:not(.split-pane-visible) {
    app-footer {
      div {
        > ion-label {
          color: white;
          font-weight: bold;
        }

        ion-anchor {
          color: white;

          &:hover, &.active {
            color: var(--ion-color-secondary);
          }
        }
      }
    }
  }
}

