app-footer {
  div {
    font-size: var(--font-size-small);

    > ion-label {
      display: block;
      padding-bottom: 6px;

      color: white;
      font-weight: bold;
    }

    ion-anchor {
      padding: 4px 0;
      display: block;
      width: max-content;
      font-weight: 300;

      color: white;

      &:hover, &.active {
        color: white;

        border-bottom-color: transparent;
      }
    }
  }

  hr {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }
}

@media (prefers-color-scheme: dark) {
  app-footer {
    div {
      > ion-label {
        color: black;
      }

      ion-anchor {
        color: var(--ion-color-medium);

        &:hover, &.active {
          color: var(--ion-color-medium);
        }
      }
    }
  }
}
