app-footer {
  div {
    font-size: var(--font-size-small);

    &.footer-container {
      margin-top: 32px;
    }

    > ion-label {
      display: block;
      padding-bottom: 6px;

      color: white;
      font-weight: bold;
    }

    ion-router-link {
      padding: 4px 0;
      display: block;
      width: max-content;
      font-weight: 300;

      color: white;

      &:hover, &.active {
        color: white;

        border-bottom-color: transparent;
      }
    }

    div.social {
      ion-icon {
        color: white;
        font-size: 1rem;

        &:not(last-of-type) {
          margin-right: 4px;
        }
      }
    }
  }
}

body.dark {
  app-footer {
    div {
      > ion-label {
        color: black;
      }

      ion-router-link {
        color: var(--ion-color-medium);

        &:hover, &.active {
          color: var(--ion-color-medium);
        }
      }

      div.social {
        ion-icon {
          color: var(--ion-color-medium);
        }
      }
    }
  }
}
