@mixin footerColorDark() {
  section > ion-label {
    color: black;
  }

  ion-router-link {
    color: var(--ion-color-medium);

    &:hover,
    &.active {
      color: var(--ion-color-medium);
    }
  }

  div.social {
    ion-icon {
      color: var(--ion-color-medium);
    }
  }
}

app-links {
  display: block;

  div.footer-container {
    font-size: var(--font-size-small);

    &.footer-container {
      margin-top: 8px;
    }

    section > ion-label {
      display: block;
      padding-bottom: 6px;

      color: black;
      font-weight: 700;
    }

    ion-router-link {
      padding: 4px 0;
      display: block;
      width: max-content;
      font-weight: 300;

      color: var(--ion-color-medium);

      &:hover,
      &.active {
        color: var(--ion-color-medium);

        border-bottom-color: transparent;
      }
    }

    div.social {
      ion-icon {
        color: var(--ion-color-medium);
        font-size: 1rem;

        &:not(last-of-type) {
          margin-right: 4px;
        }
      }
    }
  }
}

body.dark {
  ion-menu-toggle {
    app-links {
      div.footer-container {
        section > ion-label {
          color: var(--ion-color-dark-menu-contrast);
        }

        ion-router-link {
          color: var(--ion-color-dark-menu-contrast);

          &:hover,
          &.active {
            color: var(--ion-color-dark-menu-contrast);
          }
        }

        div.social {
          ion-icon {
            color: var(--ion-color-dark-menu-contrast);
          }
        }
      }
    }
  }
}
