.main {
  margin: 4.75rem 0;

  display: flex;
  justify-content: center;

  max-width: inherit;
}

.form {
  width: 720px;
  max-width: 100%;

  display: flex;
  flex-direction: column;
}

.getintouch {
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.45rem;

  max-width: 640px;
  align-self: center;
}

.address {
  white-space: pre-wrap;
  text-align: center;
  margin-top: 2.45rem;
}
