app-element-style {
  @import "../../../../../global/theme/editor/editor-info";
  @import "../../../../../global/theme/editor/editor-popover";
  @import "../../../../../global/theme/editor/editor-edit-mode";

  ion-icon.more {
    font-size: 1rem;
    padding-top: 2px;
    color: black;
  }

  ion-item-divider {
    small {
      font-size: var(--font-size-very-small);
    }
  }
}
