app-element-style {
  @import "../../../../../global/theme/editor/editor-info";
  @import "../../../../../global/theme/editor/editor-popover";

  ion-icon.more {
    font-size: 1rem;
    padding-top: 2px;
    color: black;
  }

  ion-item.item-opacity {
    --padding-start: 8px;
  }

  ion-item-divider {
    small {
      font-size: var(--font-size-very-small);
    }
  }

  &[edit-mode="properties"] {
    .css {
      display: none;
    }
  }

  &[edit-mode="css"] {
    .properties {
      display: none;
    }
  }
}
