app-list {
  ion-item.list {
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;

    --color: rgba(0, 0, 0, 0.6);
    font-size: var(--font-size-normal);

    cursor: pointer;

    &:hover,
    &.active {
      --color: black;

      ion-icon {
        color: black;
      }
    }
  }
}
