app-enterprise {
  display: block;

  section {
    width: 100%;

    display: flex;
    flex-direction: column;

    div.content {
      width: 100%;
      max-width: 1400px;
      margin-left: auto;
      margin-right: auto;

      padding: 0 128px;

      position: relative;

      @media (max-width: 992px) {
        padding: 0 64px;
      }

      @media (max-width: 768px) {
        padding: 0 16px;
      }

      h1 {
        font-size: 42px;
        font-weight: 700;
      }

      h2 {
        font-size: 32px;
      }

      h3 {
        font-size: 24px;
      }

      h2,
      h3 {
        font-weight: 400;
      }

      p,
      button.app-button {
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
      }

      p {
        color: var(--ion-color-dark);
        margin-top: 0;
      }
    }

    img.wave {
      position: absolute;
      left: 0;
      bottom: -1px;
    }
  }

  section.hero {
    height: calc(100vh - 56px);

    background: var(--ion-color-dark);
    color: var(--ion-color-dark-contrast);

    div.content {
      display: grid;
      grid-template-columns: 60% 40%;

      height: 100%;

      h1 {
        margin-top: 0;
      }

      @media (max-width: 992px) {
        grid-template-columns: 100%;
      }

      justify-content: center;
      align-content: center;

      > div {
        z-index: 2;
      }
    }
  }

  section.intro {
    background: white;

    div.content {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: auto;

      grid-gap: 32px;

      @media (max-width: 992px) {
        grid-template-columns: 100%;
        grid-row-gap: 0;
      }

      blockquote,
      h2 {
        grid-column-start: 1;
        grid-column-end: 3;

        @media (max-width: 992px) {
          grid-column-end: 2;
        }
      }

      blockquote {
        background: transparent;

        width: 720px;
        max-width: 100%;
        justify-self: center;

        margin: 64px 0;

        span {
          font-size: 10rem;
          line-height: 0.6em;
          color: var(--ion-color-medium);
          opacity: 0.4;
        }

        p {
          margin: 0 16px;
          color: var(--ion-color-medium);
          font-style: italic;
        }
      }

      > h2 {
        margin: 0;

        @media (max-width: 992px) {
          margin: 16px 0 32px;
        }
      }
    }
  }

  div.separator {
    &.intro {
      img {
        background: white;
      }
    }

    &.features {
      background: white;

      img {
        background: var(--ion-color-light);
      }
    }
  }
}
