ion-menu {
  ion-content {
    ion-list {
      ion-item {
        --detail-icon-opacity: 0;

        --deckgo-user-info-padding: 0;
        --deckgo-user-info-margin: 0;

        &.user {
          min-height: 32px;
          --background: transparent;
        }
      }
    }

    app-expansion-panel {
      border: 0;
      box-shadow: none;
      border-radius: 0;
      margin: 4px 0 0;

      > article {
        background: transparent;

        ion-icon[slot="icon"] {
          font-size: 24px;
          margin: 0;

          &.ios {
            font-size: 1.6em;
          }
        }
      }

      ion-list.settings {
        padding: 0;

        ion-item {
          --padding-start: 32px;
        }
      }
    }
  }
}
