@import "./deckdeckgo-slide";

div.deckgo-slide {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::slotted([slot="title"]),
::slotted([slot="content"]) {
  text-align: center;
}
