// Font weight

deckgo-deck h1,
deckgo-deck h2,
deckgo-deck h3 {
  font-weight: 700;
}

deckgo-deck h4,
deckgo-deck h5,
deckgo-deck h6,
deckgo-deck strong {
  font-weight: 500;
}

deckgo-deck h1,
deckgo-deck h2,
deckgo-deck h3,
deckgo-deck h4,
deckgo-deck h5,
deckgo-deck h6,
deckgo-deck strong {
  * {
    font-weight: inherit;
  }
}

deckgo-deck > * {
  font-weight: 300;
}

deckgo-deck a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
}

// Font size

deckgo-deck h1 {
  font-size: 3em;
}

deckgo-deck h2 {
  font-size: 2em;
}

deckgo-deck h3,
deckgo-deck section,
deckgo-deck ol,
deckgo-deck ul,
deckgo-deck deckgo-reveal-list {
  font-size: 1.4em;
}

deckgo-deck h1,
deckgo-deck h2,
deckgo-deck h3,
deckgo-deck h4,
deckgo-deck h5,
deckgo-deck h6 {
  max-width: 100%;
}

deckgo-deck {
  --deckgo-highlight-code-font-family: Menlo, monospace;
  --deckgo-highlight-code-scroll: auto;

  --pager-text-size: 0.6rem;
}

deckgo-deck ion-label,
deckgo-deck ion-label[text-wrap].sc-ion-label-md-h,
deckgo-deck p {
  font-size: 1em;
}

// Font size if user modify sizes inside elements

deckgo-deck font {
  display: inline-block;
  max-width: 100%;

  &[size="1"] {
    font-size: 0.25em;
  }

  &[size="2"] {
    font-size: 0.5em;
  }

  &[size="3"] {
    font-size: 0.75em;
  }

  &[size="4"] {
    font-size: 1em;
  }

  &[size="5"] {
    font-size: 1.25em;
  }

  &[size="6"] {
    font-size: 1.75em;
  }

  &[size="7"] {
    font-size: 2em;
  }

  @media (max-width: 768px) {
    &[size="5"] {
      font-size: 1.1em;
    }

    &[size="6"] {
      font-size: 1.25em;
    }

    &[size="7"] {
      font-size: 1.5em;
    }
  }
}
