canvas {
  position: absolute;
  top: 0;

  transition-duration: var(--left-offset-transition, 0ms);
  transform: translate3d(var(--left-offset, 0px), 0px, 0px);

  user-select: none;
  touch-action: none;
  pointer-events: none;
}
