@import "./deckdeckgo-slide";
@import "./deckdeckgo-slide-slots";

:host {
  --slide-actions-z-index: 3;
  --slide-header-footer-z-index: 1;
}

div.deckgo-slide {
  flex-flow: row wrap;

  padding: 0;
  width: var(--slide-width);
  height: var(--slide-height);
  min-height: var(--slide-min-height);
}

div.deckgo-slide-vertical {
  @extend div, .deckgo-slide;
  flex-flow: column wrap;
}

div.deckgo-slide-split {
  flex: 1;

  height: calc(
    var(--slide-height) - (var(--slide-split-padding-bottom, var(--slide-padding-bottom-default))) -
      (var(--slide-split-padding-top, var(--slide-padding-top-default)))
  );
  width: calc(
    (
        var(--slide-width) - (2 * var(--slide-split-padding-end, var(--slide-padding-end-default))) -
          (2 * var(--slide-split-padding-start, var(--slide-padding-start-default)))
      ) / 2
  );

  align-items: var(--slide-split-align, inherit);
  text-align: var(--slide-split-text-align, inherit);

  padding: var(--slide-split-padding-top, var(--slide-padding-top-default)) var(--slide-split-padding-end, var(--slide-padding-end-default))
    var(--slide-split-padding-bottom, var(--slide-padding-bottom-default)) var(--slide-split-padding-start, var(--slide-padding-start-default));

  &.deckgo-slide-split-start {
    display: var(--slide-split-display-start, flex);
    background: var(--slide-split-background-start);
    color: var(--slide-split-color-start);
  }

  &.deckgo-slide-split-end {
    display: var(--slide-split-display-end, flex);
    background: var(--slide-split-background-end);
    color: var(--slide-split-color-end);
  }
}

div.deckgo-slide-split-vertical {
  @extend div, .deckgo-slide-split;
  min-height: calc(
    (var(--slide-min-height, var(--slide-height)) / 2) - (var(--slide-split-padding-bottom, var(--slide-padding-bottom-default))) -
      (var(--slide-split-padding-top, var(--slide-padding-top-default)))
  );
  height: auto;
  width: calc(
    var(--slide-width) - (var(--slide-split-padding-end, var(--slide-padding-end-default))) -
      (var(--slide-split-padding-start, var(--slide-padding-start-default)))
  );
}

::slotted([slot="title"]) {
  flex: 1 100%;

  display: var(--slide-split-title-display, none);
  max-height: fit-content;

  padding: var(--slide-split-title-padding-top, var(--slide-padding-top-default)) var(--slide-split-title-padding-end, var(--slide-padding-end-default))
    var(--slide-split-title-padding-bottom, var(--slide-padding-bottom-default)) var(--slide-split-title-padding-start, var(--slide-padding-start-default));
}

::slotted([slot="title"]),
::slotted([slot="start"]),
::slotted([slot="end"]) {
  z-index: 2;
}
