app-background-folders {
  div.folders {
    display: flex;
    overflow: scroll;
    padding: 16px;

    button {
      background: transparent;
      margin: 4px 2px;
      outline-color: var(--ion-color-tertiary);
      position: relative;

      ion-icon {
        font-size: 2rem;
        color: var(--ion-color-medium);
      }

      &.current {
        ion-icon {
          color: var(--ion-color-tertiary);
        }
      }

      ion-label {
        margin: 0 0 2px;
        position: absolute;
        top: -24px;
        left: 50%;
        transform: translate(-50%, 0);
        width: max-content;
      }
    }
  }
}
