.links {
  &:global(.grid) {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;

    @media (max-width: 576px) {
      grid-template-columns: 50% 50%;
    }

    padding-right: 1.45rem;
    padding-left: 1.45rem;

    width: 100%;
    max-width: 720px;
  }

  &:global(.action) {
    margin: 5.75rem 0 0.25rem;
  }

  @media (max-width: 768px) {
    margin: 2.25rem 0 0.25rem;
  }

  :global(section) {
    width: inherit;

    display: flex;

    > ion-label,
    > ion-router-link {
      display: inline-block;
    }
  }

  &:global(.grid section) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &:global(.flex section) {
    justify-content: center;
    flex-wrap: wrap;

    a {
      margin: 0 0.45rem;
    }
  }

  &:global(.flex) > div {
    display: flex;
    justify-content: center;
  }

  :global {
    a {
      line-height: 1.6666666666666667rem;
    }
  }
}

.social {
  margin-top: 1.25rem;

  grid-column-start: 1;
  grid-column-end: 5;

  @media (max-width: 576px) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.sectionTitle {
  font-weight: 700;
}
