@use "../../../../global/theme/mixins/deck";
@use "../../../../global/theme/mixins/dashboard";

app-dashboard {
  @import "node_modules/@deckdeckgo/deck-utils/css/deck";

  main {
    background: white;

    &.anonymous {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1,
      p {
        max-width: 720px;
        text-align: center;
      }
    }

    ion-router-link {
      padding-right: 4px;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;

      touch-action: manipulation;
      cursor: pointer;
    }

    deckgo-deck {
      background: white;

      pointer-events: none;

      @include deck.padding;
    }

    ion-searchbar[class*="sc-ion-searchbar"] {
      --background: var(--ion-color-light);
      background: var(--ion-color-light);
      border: 1px solid #dedede;
      border-radius: 4px;

      --placeholder-opacity: 0.33;
    }

    div.container {
      @include dashboard.grid;

      ion-card.item {
        position: relative;

        width: var(--card-width);
        height: calc(var(--card-width) * 9 / 16);

        cursor: pointer;

        app-dashboard-deck-actions {
          position: absolute;
          top: 4px;
          right: 4px;
        }

        div.spinner {
          width: var(--slide-width);
          height: var(--slide-height);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          ion-label {
            margin: 8px;
          }
        }
      }
    }

    div.toolbar-actions {
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      padding-top: 4px;

      @media screen and (max-width: 768px) {
        ion-button {
          max-width: 128px;

          ion-label {
            white-space: initial;
          }
        }
      }
    }
  }
}
