text {
  fill: var(--deckgo-chart-text-color, black);
  display: var(--deckgo-chart-text-display);
  font-size: var(--deckgo-chart-text-font-size);
  font-family: var(--deckgo-chart-text-font-family, initial);
}

path {
  stroke: var(--deckgo-chart-path-stroke);
}
