:host {
  background: var(--background);
  color: var(--color);
}

div.deckgo-slide {

  display: flex;

  padding: var(--slide-padding-top, 16px) var(--slide-padding-end, 32px) var(--slide-padding-bottom, 16px) var(--slide-padding-start, 32px);

  width: calc(100vw - var(--slide-padding-start, 32px) - var(--slide-padding-end, 32px));
  height: 100vh;

  // Don't allow text selection
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

::slotted(ul), ::slotted(ol) {
  padding-inline-start: var(--slide-padding-start, 32px);
}

@media print {
  div.deckgo-slide {
    padding: 0;
  }
}
