@use "../../../../global/theme/mixins/page";

app-signin {
  main {
    @include page.input-colors;

    position: relative;

    ion-buttons.back {
      position: absolute;
      top: 8px;
      right: 8px;
    }

    p {
      margin: 0;

      strong {
        text-decoration: none;
      }
    }
  }

  strong {
    text-decoration: underline;
  }

  div.spinner {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
}
