app-doc-editor {
  @import "node_modules/@deckdeckgo/styles/css/doc";

  height: 100%;

  deckgo-studio-doc {
    --studio-color: rgba(var(--ion-color-medium-rgb), 0.6);
  }

  stylo-editor {
    --stylo-add-left: 8px;

    @media (min-width: 768px) {
      --stylo-add-left: 20px;
    }
  }
}
