app-doc-editor {
  @import "node_modules/@deckdeckgo/styles/css/doc";

  height: 100%;

  deckgo-studio {
    --studio-color: rgba(var(--ion-color-medium-rgb), 0.6);

    display: block;
    margin: 0 auto;
    width: fit-content;
  }

  stylo-editor {
    --stylo-add-left: 1.4rem;

    @media (min-width: 768px) {
      --stylo-add-left: 2.2rem;
    }
  }
}
