app-landing {
  deckgo-lazy-img {
    --deckgo-lazy-img-display: block;
  }

  img.wave-section {
    display: block;
  }

  section {
    width: 100%;

    --font-size-h1: 48px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;

    h1 {
      font-size: 48px;
    }

    p {
      font-size: 22px;
      line-height: 28px;
      font-weight: 300;
      color: var(--ion-color-dark);
    }

    &.header {
      width: 100%;
      height: calc(100% - 56px);
    }
  }
}
