app-color {
  div.color-picker {
    display: grid;
    align-items: center;

    padding: 0 16px;

    grid-template-columns: 48px 1fr 32px;
    grid-column-gap: 8px;

    ion-fab-button {
      width: 32px;
      height: 32px;
    }

    button.reset {
      border: none;
      font: inherit;
      background: none;
      padding: 0;

      height: 100%;

      cursor: pointer;
      pointer-events: all;
    }
  }

  deckgo-color {
    --deckgo-flex-wrap: nowrap;
    --deckgo-overflow: scroll;

    --deckgo-button-margin: 10px 6px;
    --deckgo-button-height: 16px;
    --deckgo-button-width: 16px;
  }
}
