app-waves {
  ion-content {
    --background: var(--ion-color-light);

    div.options {
      display: grid;
      grid-template-columns: repeat(3, 10%) 70%;
      grid-column-gap: 8px;
      width: calc(100% - 16px);
      padding: 0 16px;
      align-items: center;

      ion-fab-button {
        --box-shadow: none;
      }
    }

    div.color {
      display: flex;
      justify-content: center;
      padding: 16px 16px 0;
    }

    ion-item-divider {
      --color: black;
      --background: white;
      --ion-item-border-color: transparent;
      --ion-padding: 0;

      .label-waves {
        flex-grow: 1;
      }
    }

    ion-item {
      --background: white;
      --border-width: 0;
      --inner-border-width: 0;
    }

    deckgo-color {
      --padding-top: 4px;
    }

    div.container {
      background: white;
      border: 1px solid #dedede;
      border-radius: 4px;

      overflow: hidden;

      height: 128px;

      svg {
        height: 100%;

        transition: opacity 0.3s ease;

        path {
          transition: 0.3s ease;
        }
      }
    }
  }
}
