:host(.top) {
  div.triangle {
    bottom: unset;
    top: -34px;
    transform: scale(0.7);
  }
}

div.triangle {
  z-index: 1;

  position: absolute;
  bottom: -34px;
  left: var(--deckgo-ie-triangle-start, 8px);

  width: 40px;
  height: 40px;
  overflow: hidden;

  transform: scale(0.7) rotate(180deg);

  &:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    transform: rotate(45deg);
    top: 28px;
    left: 8px;
    box-shadow: var(--deckgo-inline-editor-triangle-box-shadow, 0 0 8px 0 rgba(0, 0, 0, 0.1));

    border: var(--deckgo-inline-editor-border);
  }
}
