app-playground {
  ion-content {
    --background: var(--ion-color-light);

    ion-item.item-input ion-input[class*="sc-ion-input"] {
      --background: white;
      background: white;
    }

    ion-list {
      --ion-item-background: transparent;
    }

    div.theme {
      ion-select {
        background: white;
        border: 1px solid #dedede;
        border-radius: 4px;
      }
    }
  }
}
