app-align {
  ion-item.align {
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;

    cursor: pointer;

    &:hover,
    &.active {
      --color: var(--ion-color-primary);

      ion-icon {
        color: var(--ion-color-primary);
      }
    }
  }
}
