deckgo-studio-doc {
  position: relative;

  display: block;

  width: fit-content;
  height: 100%;

  margin: 0 auto;

  article {
    h1:nth-child(1):empty:not(:focus):after {
      content: var(--studio-title, "Title");
      color: var(--studio-color);
      white-space: pre;
      position: relative;
    }

    div:nth-child(2):empty:last-child:not(:focus):after {
      content: var(--studio-sub-title, "Write your document...");
      color: var(--studio-color);
      position: relative;
    }
  }
}
