deckgo-studio-doc {
  height: 100%;

  deckgo-doc {
    position: relative;

    article {
      h1:nth-child(1):empty:not(:focus):after {
        content: "Title";
        color: var(--studio-color);
        white-space: pre;
        position: relative;
      }

      div:nth-child(2):empty:last-child:not(:focus):after {
        content: "Write your document...";
        color: var(--studio-color);
        position: relative;
      }
    }
  }

  stylo-editor {
    --stylo-add-left: 8px;

    @media (min-width: 768px) {
      --stylo-add-left: 32px;
    }
  }
}
