deckgo-studio-doc {
  position: relative;

  display: block;

  width: fit-content;
  height: 100%;

  margin: 0 auto;

  article {
    /** Before is needed to preserve the height of the paragraphs */
    *:nth-child(1).stylo-empty:before {
      content: "\200b";
    }

    *:nth-child(2).stylo-empty:before {
      content: "\200b";
    }

    *:nth-child(1).stylo-empty:after {
      content: var(--studio-title, "Title");
      color: var(--studio-color);
      white-space: pre;
      pointer-events: none;
    }

    *:nth-child(2).stylo-empty:after {
      content: var(--studio-sub-title, "Write your story...");
      color: var(--studio-color);
      pointer-events: none;
    }
  }
}
