div.container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  border: 1px solid;

  margin-left: 0;
  margin-bottom: 48px;

  border-radius: 8px;

  deckgo-deck {
    --font-size-h1: 18px;

    --slide-padding-top: 16px;
    --slide-padding-end: 16px;
    --slide-padding-bottom: 16px;
    --slide-padding-start: 16px;

    --slide-split-padding-top: 16px;
    --slide-split-padding-end: 16px;
    --slide-split-padding-bottom: 16px;
    --slide-split-padding-start: 16px;

    --slide-split-title-display: block;
    --slide-split-title-padding-top: 4px;
    --slide-split-title-padding-end: 16px;
    --slide-split-title-padding-bottom: 4px;
    --slide-split-title-padding-start: 16px;

    --slide-chart-margin-top: 4px;
    --slide-chart-margin-start: 4px;
    --slide-chart-margin-end: 4px;
    --slide-chart-margin-bottom: 4px;
    --deckgo-chart-text-display: none;

    --slide-author-padding-top: 4px;
    --slide-author-padding-end: 4px;
    --slide-author-padding-start: 4px;
    --slide-author-padding-bottom: 4px;

    h1[slot],
    h2[slot],
    p[slot],
    div[slot="author"] {
      border-radius: 2px;
      width: 100%;
      padding: 8px;
    }

    h1[slot],
    div[slot="author"] {
      border: 1px dashed var(--ion-color-primary);
    }

    h2[slot],
    p[slot] {
      border: 1px dashed var(--ion-color-tertiary);
    }

    deckgo-slide-split {
      *[slot="start"],
      *[slot="end"] {
        height: fit-content;
      }
    }

    deckgo-slide-countdown {
      --slide-countdown-digits-height: 2em;
      --slide-countdown-digits-font-size: 1.4em;
      --slide-countdown-container-padding-bottom: 16px;
      --slide-countdown-digits-color: var(--ion-color-dark);
    }

    deckgo-slide-big-img {
      --slide-img-max-width: 400px;
    }

    deckgo-slide-author {
      --slide-height: 400px;
    }
  }
}

body.dark {
  div.container {
    deckgo-deck {
      h1[slot],
      div[slot="author"] {
        border: 1px dashed var(--ion-color-light);
      }

      h2[slot],
      p[slot] {
        border: 1px dashed var(--ion-color-secondary);
      }
    }
  }
}
