div.container {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border: 1px solid;

  margin-left: 0;
  margin-bottom: 48px;

  border-radius: 8px;

  deckgo-deck {
    --font-size-h1: 18px;

    --slide-padding-top: 16px;
    --slide-padding-end: 16px;
    --slide-padding-bottom: 16px;
    --slide-padding-start: 16px;

    --slide-split-padding-top: 16px;
    --slide-split-padding-end: 16px;
    --slide-split-padding-bottom: 16px;
    --slide-split-padding-start: 16px;

    --slide-split-title-display: block;
    --slide-split-title-padding-top: 4px;
    --slide-split-title-padding-end: 16px;
    --slide-split-title-padding-bottom: 4px;
    --slide-split-title-padding-start: 16px;

    --slide-chart-margin-top: 4px;
    --slide-chart-margin-start: 4px;
    --slide-chart-margin-end: 4px;
    --slide-chart-margin-bottom: 4px;
    --deckgo-chart-text-display: none;

    --slide-author-padding-top: 4px;
    --slide-author-padding-end: 4px;
    --slide-author-padding-start: 4px;
    --slide-author-padding-bottom: 4px;
  }
}
