app-remote-connect {
  ion-list {
    ion-item {
      --border-color: transparent;
      --padding-start: 0;
      --inner-padding-end: 0;

      ion-label[class*="sc-ion-label"] {
        font-size: var(--font-size-normal);

        &.disabled {
          opacity: 0.2;
        }
      }
    }
  }

  p:first-of-type {
    margin-top: 8px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p.no-padding-bottom {
    margin-bottom: 0;
  }

  div.qrcode-container {
    display: flex;
    justify-content: center;

    deckgo-qrcode {
      --deckgo-qrcode-size: 316px;
    }

    ion-icon {
      color: transparent;
    }
  }
}
