app-developer {
  main {
    background: white;

    deckgo-highlight-code {
      --deckgo-highlight-code-font-size: var(--font-size-h1);
      --deckgo-highlight-code-text-align: center;
    }

    a {
      border-bottom-color: var(--ion-color-primary);
    }
  }
}
