app-editor {
  @import "../../../../global/theme/editor/editor-deck";
  @import "../../../../global/theme/editor/editor-deck-fonts";

  main {
    position: relative;

    width: 100%;
    max-width: 720px;
    height: 100%;

    margin: auto;

    overflow: hidden;

    ion-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // Skeleton for new slides
    [slot]:not([contentEditable]) {
      position: relative;

      background: var(--ion-color-light);
      border-color: var(--ion-color-light);

      color: transparent;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      pointer-events: none;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, var(--ion-color-light), lighten(#f4f5f8, 7%), var(--ion-color-light));
        animation: progress 2s ease-in-out infinite;
      }
    }
  }

  ion-footer {
    ion-tab-button {
      ion-icon {
        color: var(--ion-color-primary);
      }
    }
  }

  deckgo-inline-editor {
    --deckgo-inline-editor-button-mobile-color: var(--ion-color-dark);

    ion-icon[slot="link"] {
      padding-top: 12px;
      font-size: 1.2rem;
    }

    ion-icon[slot="orderedList"], ion-icon[slot="unorderedList"] {
      padding-top: 10px;
      font-size: 1.6rem;
    }
  }

  @media screen and (min-width: 992px) {
    deckgo-inline-editor {
      --deckgo-inline-editor-transform: translate(-270px, 0);
    }
  }

  @media screen and (min-width: 1140px) {
    main {
      max-width: 960px;
    }
  }

  @media screen and (max-width: 540px) {
    ion-footer {
      ion-tab-button {
        &.wider-devices {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: 540px) {
    ion-footer {
      ion-tab-button {
        &.small-devices {
          display: none;
        }
      }
    }
  }
}

@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
