@use "../../../../global/theme/editor/editor-fullscreen";

ion-nav app-editor ion-content {
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: var(--main-size-width);
    height: var(--main-size-height);

    max-width: inherit;

    overflow: hidden;

    &.ready {
      box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0, rgba(0, 0, 0, 0.12) 0 1px 5px 0;
    }
  }
}

app-editor {
  @import "../../../../global/theme/editor/editor-deck-header-footer";
  @import "../../../../global/theme/editor/editor-deck-social";
  @import "../../../../global/theme/editor/editor-deck-transition";
  @import "../../../../global/theme/editor/editor-loading";

  main {
    @import "../../../../global/theme/editor/editor-deck";
    @import "../../../../global/theme/editor/editor-deck-placeholder";
  }

  @import "node_modules/@deckdeckgo/deck-utils/css/deck";

  app-navigation,
  app-help {
    &.hidden {
      visibility: hidden;
    }
  }

  ion-content {
    --overflow: hidden;

    --padding-top: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-bottom: 12px;
  }

  deckgo-inline-editor {
    --deckgo-inline-editor-sticky-zindex: 10;

    ion-icon[slot="link"] {
      padding-top: 12px;
      font-size: 1.2rem;
    }

    ion-icon[slot="orderedList"],
    ion-icon[slot="unorderedList"] {
      padding-top: 10px;
      font-size: 1.6rem;
    }
  }

  @media screen and (min-width: 1140px) {
    main {
      max-width: 960px;
    }
  }
}

@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
