app-align {
  @import "../../../../global/theme/editor/editor-popover";

  ion-item {
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;

    cursor: pointer;

    &:hover,
    &.active {
      --color: var(--ion-color-primary);
    }
  }
}
