app-popular {
  ion-card[class*="sc-ion-card"] {
    --background: white;
    color: black;
    padding: 16px;

    width: calc(100% - 16px);
    max-width: 380px;

    ion-card-content {
      p:last-of-type {
        font-weight: 700;
      }
    }
  }

  ion-card.demo {
    padding: 16px;
    --background: white;
    min-height: 340px;
  }
}

@media (prefers-color-scheme: dark) {
  app-popular {
    h1 {
      color: black;
    }
  }
}
