app-popular {
  ion-card[class*="sc-ion-card"] {
    --background: white;
    color: black;
    padding: 16px;

    width: 250px;
  }

  ion-card.demo {
    padding: 16px;
    --background: white;
    min-height: 340px;
  }
}

@media (prefers-color-scheme: dark) {
  app-popular {
    h1 {
      color: black;
    }
  }
}
