app-popular {
  ion-card[class*="sc-ion-card"] {
    --background: white;
    color: black;
  }

  div.demo {
    position: relative;
  }
}

@media (prefers-color-scheme: dark) {
  app-popular {
    h1 {
      color: black;
    }
  }
}
