app-user-info {
  width: 100%;

  color: black;

  ion-grid {
    --deckgo-avatar-size: 3rem;

    &.avatar {
      height: 96px;
    }

    ion-row {
      height: 100%;
    }

    padding: var(--deckgo-user-info-padding, 16px 14px 0);
    margin: var(--deckgo-user-info-margin, 0);

    ion-col {
      display: flex;
    }

    ion-col.user-info {
      flex-direction: column;

      ion-label {
        margin: 0;
      }

      ion-label:first-of-type {
        padding-bottom: 4px;
        font-weight: 400;
        font-size: var(--font-size-normal);

        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      ion-label:last-of-type {
        font-size: var(--font-size-small);
        font-weight: 300;
      }
    }
  }
}
