div.editor-toolbar {
  display: none;
  position: absolute;

  &.displayed {
    display: flex;
  }

  transform: translate(-8px, -50%);

  a {
    cursor: pointer;

    border-radius: 50%;
    border: 1px solid var(--ion-color-primary);

    width: 2rem;
    height: 2rem;

    margin: 0 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    &.activated {
      &.open-close {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
      }

      &.trash {
        visibility: visible;
      }
    }

    &.trash {
      visibility: hidden;

      ion-icon {
        font-size: 1.2rem;
      }
    }

    ion-icon {
      font-size: 2rem;
      color: var(--ion-color-primary);
    }
  }
}
