app-close-menu {
  button {
    background: none;
    font-size: 20px;

    border-radius: 2px;

    position: relative;
    overflow: hidden;

    margin: 16px 0px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      outline: none;
    }
  }
}
