@use "../../../../global/theme/mixins/deck";

app-dashboard {
  @import "node_modules/@deckdeckgo/deck-utils/css/deck";

  main {
    background: white;

    ion-router-link {
      padding-right: 4px;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;

      touch-action: manipulation;
      cursor: pointer;
    }

    deckgo-deck {
      background: white;

      @include deck.padding;
    }

    ion-searchbar[class*="sc-ion-searchbar"] {
      --background: var(--ion-color-light);
      background: var(--ion-color-light);
      border: 1px solid #dedede;
      border-radius: 4px;

      --placeholder-opacity: 0.33;
    }

    div.container {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(4, 1fr);

      --card-width: calc((100vw - 64px - 48px) / 4);

      @media (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        --card-width: calc((100vw - 64px - 48px) / 3);
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        --card-width: calc((100vw - 64px - 48px) / 2);
      }

      @media (max-width: 576px) {
        grid-template-columns: 1fr;
        --card-width: calc(100vw - 64px);
      }

      ion-card.item {
        position: relative;

        width: var(--card-width);
        height: calc(var(--card-width) * 9 / 16);

        cursor: pointer;

        app-dashboard-deck-actions {
          position: absolute;
          top: 0;
          right: 0;
        }

        div.spinner {
          width: var(--slide-width);
          height: var(--slide-height);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          ion-label {
            margin: 8px;
          }
        }
      }
    }

    div.toolbar-actions {
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
