app-dashboard {
  main {
    background: white;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active{
      text-decoration: none;

      touch-action: manipulation;
      cursor: pointer;
    }

    deckgo-deck {
      --pager-display: none;
    }

    div.container {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: 250px 150px;
      grid-auto-flow: dense;

      ion-card.item {
        position: relative;

        width: 100%;
        height: 100%;

        overflow: hidden;
      }

      @media screen and (min-width: 540px) {
        ion-card.item {
          &:first-child {
            grid-area: 1 / 1 / span 2 / span 2;
          }

          &:nth-child(3n) {
            grid-column: span 2;
          }
        }
      }
    }
  }
}
