section > div,
nav {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;

    padding-right: 1.45rem;
    padding-left: 1.45rem;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}
