:root {
  --color-primary: #3880ff;
  --color-primary-rgb: 56, 128, 255;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255, 255, 255;
  --color-primary-shade: #3171e0;
  --color-primary-tint: #4c8dff;

  --color-secondary: #3dc2ff;
  --color-secondary-rgb: 61, 194, 255;
  --color-secondary-contrast: #000000;
  --color-secondary-contrast-rgb: 0, 0, 0;
  --color-secondary-shade: #36abe0;
  --color-secondary-tint: #50c8ff;

  --color-tertiary: #5260ff;
  --color-tertiary-rgb: 82, 96, 255;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-contrast-rgb: 255, 255, 255;
  --color-tertiary-shade: #4854e0;
  --color-tertiary-tint: #6370ff;

  --color-success: #2dd36f;
  --color-success-rgb: 45, 211, 111;
  --color-success-contrast: #ffffff;
  --color-success-contrast-rgb: 255, 255, 255;
  --color-success-shade: #28ba62;
  --color-success-tint: #42d77d;

  --color-warning: #ffc409;
  --color-warning-rgb: 255, 196, 9;
  --color-warning-contrast: #000000;
  --color-warning-contrast-rgb: 0, 0, 0;
  --color-warning-shade: #e0ac08;
  --color-warning-tint: #ffca22;

  --color-danger: #eb445a;
  --color-danger-rgb: 235, 68, 90;
  --color-danger-contrast: #ffffff;
  --color-danger-contrast-rgb: 255, 255, 255;
  --color-danger-shade: #cf3c4f;
  --color-danger-tint: #ed576b;

  --color-dark: #222428;
  --color-dark-rgb: 34, 36, 40;
  --color-dark-contrast: #ffffff;
  --color-dark-contrast-rgb: 255, 255, 255;
  --color-dark-shade: #1e2023;
  --color-dark-tint: #383a3e;

  --color-medium: #6e6d6f;
  --color-medium-rgb: 110, 109, 111;
  --color-medium-contrast: #ffffff;
  --color-medium-contrast-rgb: 255, 255, 255;
  --color-medium-shade: #616062;
  --color-medium-tint: #7d7c7d;

  --color-light: #f4f5f8;
  --color-light-rgb: 244, 245, 248;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0, 0, 0;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;

  --color-youtube: #ff0000;
  --color-youtube-rgb: 255, 0, 0;
  --color-youtube-contrast: #ffffff;
  --color-youtube-contrast-rgb: 255, 255, 255;
  --color-youtube-shade: #e00000;
  --color-youtube-tint: #ff1a1a;

  --color-quaternary: #641d80;
  --color-quaternary-rgb: 100, 29, 128;
  --color-quaternary-contrast: #ffffff;
  --color-quaternary-contrast-rgb: 255, 255, 255;
  --color-quaternary-shade: #581a71;
  --color-quaternary-tint: #74348d;

  --color-quinary: #fab2ea;
  --color-quinary-rgb: 250, 178, 234;
  --color-quinary-contrast: #000000;
  --color-quinary-contrast-rgb: 0, 0, 0;
  --color-quinary-shade: #dc9dce;
  --color-quinary-tint: #fbbaec;

  --color-senary: #dd7596;
  --color-senary-rgb: 221, 117, 150;
  --color-senary-contrast: #000000;
  --color-senary-contrast-rgb: 0, 0, 0;
  --color-senary-shade: #c26784;
  --color-senary-tint: #e083a1;

  --color-dark-menu: #222428;
  --color-dark-menu-rgb: 34, 36, 40;
  --color-dark-menu-contrast: #ffffff;
  --color-dark-menu-contrast-rgb: 255, 255, 255;
  --color-dark-menu-shade: #1e2023;
  --color-dark-menu-tint: #383a3e;
}
