@import "../deckdeckgo-slide";

div.deckgo-slide {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

div.deckgo-chart-container {
  margin: var(--slide-chart-margin-top, 32px) var(--slide-chart-margin-end, 32px) var(--slide-chart-margin-bottom, 32px) var(--slide-chart-margin-start, 32px);

  width: calc(100vw - var(--slide-chart-margin-end, 64px) - var(--slide-chart-margin-start, 64px));
  height: calc(100vw - var(--slide-chart-margin-top, 64px) - var(--slide-chart-margin-bottom, 64px));

  display: flex;
  align-items: center;
  justify-content: center;

  align-self: center;

  @media screen and (max-width: 1024px) {
    width: calc(100vw - var(--slide-chart-margin-end, 32px) - var(--slide-chart-margin-start, 32px));
    height: calc(100vw - var(--slide-chart-margin-top, 32px) - var(--slide-chart-margin-bottom, 32px));
  }
}
