@use "../../../../global/theme/mixins/page";

app-poll {
  main {
    @include page.input-colors;

    min-height: 100%;

    ion-list.list-ios {
      margin-bottom: 0;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    ion-list {
      ion-item.item {
        --padding-start: 0;
        --ripple-color: var(--ion-color-primary);
        --border-color: transparent;

        ion-label[class*="sc-ion-label"] {
          white-space: normal;
        }
      }
    }

    div.submit-form {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      a {
        cursor: pointer;
      }
    }

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 100%;

      div.by-deckdeckgo {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 32px;

        ion-router-link > div {
          display: flex;
          align-items: center;
          justify-content: center;

          margin: 0 4px;

          app-logo {
            margin: 2px;
          }
        }
      }
    }
  }
}
