button.navigation {
  border: none;
  outline: none;

  font: inherit;
  color: inherit;
  background: none;
  padding: 0;

  position: relative;

  width: 40px;
  height: 40px;
  font-size: 32px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  pointer-events: all;

  border-radius: 50%;
  overflow: hidden;
}

button#previous,
button#next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

button#previous {
  left: 16px;
}

button#next {
  right: 16px;
}

div.ion-page.vertical {
  button#next,
  button#previous {
    right: 16px;
  }

  button#next {
    bottom: 0;
    top: unset;

    ion-icon {
      transform: rotate(90deg);
    }
  }

  button#previous {
    left: unset;
    bottom: 48px;
    top: unset;

    ion-icon {
      transform: rotate(90deg);
    }
  }
}

div.ion-page.papyrus {
  button#next {
    right: unset;
    transform: translate(-50%, 0);
    top: unset;
    bottom: 0;
    overflow: visible;
    left: 50%;

    ion-icon {
      transform: rotate(90deg);
    }

    &:before {
      content: "Scroll";
      font-size: 1rem;
      position: absolute;
      padding: 4px;
      top: 0;
      left: 0;
      transform: translate(-4px, -16px);
    }
  }

  button#previous {
    display: none;
  }
}

button.navigation.hide-on-mobile {
  display: var(--deckgo-hide-on-mobile, inline-flex);
}

button.navigation.transparent,
button.navigation.primary {
  width: 60px;
  height: 60px;
}

button.navigation.transparent ion-icon,
button.navigation.primary ion-icon {
  font-size: 36px;
}

button.navigation.transparent {
  border: 1px solid var(--ion-color-dark);
  margin-right: 16px;
}

button.navigation.primary {
  border: 1px solid var(--ion-color-primary);
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}
