button.navigation {
  border: none;
  outline: none;

  font: inherit;
  color: var(--button-navigation-color, inherit);
  background: none;
  padding: 0;

  position: relative;

  width: 40px;
  height: 40px;
  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  pointer-events: all;

  &.animate {
    transition: font-size 300ms, opacity 250ms;
    opacity: 1;

    width: inherit;
    height: inherit;
    font-size: 48px;

    &:hover,
    &:active {
      font-size: 64px;
    }
  }

  border-radius: 50%;
  overflow: hidden;
}

button#previous,
button#next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  @media screen and (max-width: 768px) {
    top: unset;
    transform: unset;
    bottom: 16px;
  }
}

button#previous {
  left: 8px;
}

button#next {
  right: 8px;
}

div.ion-page.papyrus {
  button#next {
    right: 50%;
    transform: rotate(90deg) translate(0px, -50%);
    border-radius: 50%;
    bottom: 0;
    overflow: visible;

    &:before {
      content: "Scroll";
      transform: rotate(270deg);
      font-size: 1rem;
      position: absolute;
      right: 32px;
      padding: 4px;
    }
  }

  button#previous {
    display: none;
  }
}

button.navigation.hide-on-mobile {
  display: var(--deckgo-hide-on-mobile, flex);
}

#navigation {
  display: none;
}
