body {
  background-color: var(--ion-color-light);
}

ion-content {
  --ion-background-color: var(--ion-color-light);
}

ion-fab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}
