@mixin fullscreen() {
  #{if(&, "&", "*")}:-moz-full-screen {
    @content;
  }

  #{if(&, "&", "*")}:-webkit-full-screen {
    @content;
  }

  #{if(&, "&", "*")}:-ms-fullscreen {
    @content;
  }

  #{if(&, "&", "*")}:fullscreen {
    @content;
  }
}

@include fullscreen() {
  ion-header {
    display: none;
  }

  ion-content {
    cursor: none;
  }

  #fullscreen-menu {
    display: inherit;
  }

  button.navigation {
    background: rgba(var(--ion-color-dark-rgb), 0.4);
    color: var(--ion-color-dark-contrast);
  }
}
