@media print {
  body {
    position: inherit;
  }

  ion-app.ion-page {
    overflow: visible;
    contain: none;
  }

  ion-content {
    contain: none;
  }

  #navigation {
    display: none;
  }
}
