:host {
  padding: 4px 0;

  deckgo-color {
    pointer-events: all;
  }
}

:host(.deckgo-tools-mobile) {
  max-width: calc(100% - 54px);
  --deckgo-color-flex-wrap: nowrap;
  --deckgo-color-width: fit-content;
  pointer-events: all;
  overflow: scroll;
}
