@import "./deckdeckgo-slide";
@import "./deckdeckgo-slide-slots";

div.deckgo-slide {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

div.deckgo-slide-poll {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 40% 60%;

  grid-column-gap: var(--slide-poll-grid-column-gap, 32px);

  min-height: 0;

  > * {
    min-height: 0;
  }

  div.deckgo-slide-poll-qrcode {
    display: flex;
    flex-direction: column;

    justify-content: var(--slide-poll-justify-content, center);
    align-items: var(--slide-poll-align-items, center);
    text-align: var(--slide-poll-text-align, center);

    deckgo-qrcode {
      background: var(--slide-poll-background);
    }
  }

  div.deckgo-slide-poll-chart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;

    --deckgo-chart-text-font-size: 1rem;
    --deckgo-chart-overflow: visible;
  }
}

.how-to {
  max-width: var(--slide-poll-how-to-max-width, calc(100% - 64px));
  font-size: var(--slide-poll-how-to-font-size, 0.8em);
  user-select: text;

  * {
    user-select: text;
  }
}

::slotted([slot="how-to"]) {
  display: none;
}

::slotted([slot="awaiting-votes"]) {
  position: absolute;
  z-index: var(--slide-poll-awaiting-votes-z-index, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--slide-poll-awaiting-votes-background, rgba(255, 255, 255, 0.9));
  border-radius: var(--slide-poll-awaiting-votes-border-radius, 8px);
  padding: var(--slide-poll-awaiting-votes-padding, 8px);
  pointer-events: none;
  user-select: none;
}

::slotted([slot="question"]) {
  user-select: text;
}
