@import "./deckdeckgo-slide";

div.deckgo-slide {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

div.deckgo-slide-poll {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 40% 60%;

  grid-column-gap: var(--slide-poll-grid-column-gap, 32px);

  min-height: 0;

  > * {
    min-height: 0;
  }

  div.deckgo-slide-poll-qrcode {
    display: flex;
    flex-direction: column;

    justify-content: var(--slide-poll-justify-content, center);
    align-items: var(--slide-poll-align-items, center);
    text-align: var(--slide-poll-text-align, center);

    deckgo-qrcode {
      background: var(--slide-poll-background);
    }

  }

  div.deckgo-slide-poll-chart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    --deckgo-chart-text-font-size: 1rem;
    --deckgo-chart-overflow: visible;
  }

}

::slotted([slot="how_to"]) {
  max-width: var(--slide-poll-how-to-max-width, calc(100% - 64px));
}
