@use "../../../../../global/theme/mixins/button";

app-add-paragraph {
  display: block;

  position: absolute;
  top: var(--actions-top);
  left: var(--actions-left);

  transform: translate(-36px, 0);

  button {
    @include button.action;
    @include button.icon;

    width: 22px;
    height: 22px;
  }
}
