app-remote {
  @import "../../../global/theme/button";

  main.connected {
    display: grid;
    grid-template-rows: calc((100% - 64px) / 2) calc((100% - 64px) / 2) 64px;
    height: 100%;

    max-width: inherit;

    @media screen and (orientation: landscape) {
      grid-template-rows: 50% 50%;
      grid-template-columns: 50% 50%;

      div.deck,
      div.deck-navigation-buttons {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      app-notes {
        grid-column-start: 2;

        grid-row-start: 1;
        grid-row-end: 3;
      }
    }

    div.deck {
      position: relative;
      display: block;
      overflow: hidden;

      margin: 16px;
      border-radius: 10px;
      border: 1px solid var(--ion-color-light-shade);
      box-shadow: var(--remote-box-shadow);
    }

    div.deck-navigation-buttons {
      display: grid;
      grid-template-columns: 50% 50%;

      position: relative;

      div.deck-navigation-button-next,
      div.deck-navigation-button-prev {
        padding: 0 16px 16px;

        ion-button {
          border-radius: 10px;
          --box-shadow: var(--remote-box-shadow);

          height: 100%;
          width: 100%;

          --border-radius: 10px;

          --border-color: var(--ion-color-light-shade);
          --border-width: 1px;
          --border-style: solid;

          ion-label {
            text-transform: inherit;
            font-size: var(--font-size-normal);
            font-weight: 300;
            white-space: pre-wrap;

            position: absolute;
            bottom: 16px;
          }
        }
      }

      div.deck-navigation-button-next {
        padding-left: 4px;
      }

      div.deck-navigation-button-prev {
        padding-right: 4px;
      }
    }
  }

  deckgo-deck {
    --pager-text-color: black;
    --pager-text-slides-display: block;
    --pager-size: 64px;
    --pager-text-size: 0.6rem;

    --slide-padding-top: 16px;
    --slide-padding-end: 32px;
    --slide-padding-bottom: 16px;
    --slide-padding-start: 32px;

    --slide-author-social-padding-top: 8px;

    --slide-author-padding-top: 16px;
    --slide-author-padding-end: 32px;
    --slide-author-padding-bottom: 16px;
    --slide-author-padding-start: 32px;

    @media screen and (min-width: 992px) {
      ion-label,
      ion-label[text-wrap].sc-ion-label-md-h,
      p {
        font-size: 1.2em;
      }
    }

    a,
    deckgo-social {
      pointer-events: none;
    }

    h1,
    h2,
    h3 {
      text-transform: inherit;
    }

    font-size: 12px;

    deckgo-lazy-img {
      pointer-events: none;
    }
  }

  ion-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  a.link-to-modal {
    color: inherit;
    cursor: pointer;
  }
}
