app-unsplash {
  ion-content {
    --background: var(--ion-color-light);
  }

  app-image-columns {
    --deckgo-images-min-height: 5rem;
    --deckgo-images-padding: 16px;
  }

  div.photos-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: relative;

      ion-icon {
        font-size: 10rem;
      }

      ion-label,
      ion-icon {
        color: var(--ion-color-medium);
      }

      p.searching {
        position: absolute;
        bottom: -48px;
        margin: 0;

        font-size: var(--font-size-very-small);
        color: var(--ion-color-medium);

        ion-spinner {
          width: 0.5rem;
          height: 0.5rem;
        }
      }
    }
  }
}
