app-landing-footer {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-button {
      text-transform: none;
    }

    section.links {
      margin-top: 48px;
      max-width: 768px;
    }

    @media (max-width: 768px) {
      section.links {
        margin-top: 16px;
      }
    }
  }
}
