app-publish-done {
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    p {
      a {
        color: var(--ion-color-tertiary);
        cursor: pointer;

        &:hover {
          border-bottom-color: var(--ion-color-tertiary);
        }
      }
    }

    ion-label.published-url {
      font-size: var(--font-size-small);

      ion-spinner {
        scale: 0.4;
        vertical-align: middle;
      }

      a {
        color: var(--ion-color-tertiary);
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid var(--ion-color-tertiary);
        }
      }
    }
  }
}
