:host {
  position: absolute;
  top: 0;
  bottom: 0;
}

div.deckgo-deck {
  display: flex;

  height: 100%;

  --transformX: 0px;
  --transformXDuration: 0ms;

  transform: translate3d(var(--transformX), 0px, 0px);
  transition-duration: var(--transformXDuration, 0ms);

  ::-webkit-scrollbar {
    display: none;
  }
}

div.deckgo-pager {
  position: fixed;
  bottom: 0;
  left: 0;
}

@media print {
  div.deckgo-deck {
    display: initial;
    position: initial;
  }
}
