app-custom-images {
  ion-content {
    --background: var(--ion-color-light);
  }

  app-image-columns {
    --deckgo-images-min-height: 5rem;
    --deckgo-images-padding: 16px;
  }

  input {
    visibility: hidden;
    opacity: 0;
  }

  ion-toolbar {
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
