@import "../deckdeckgo-slide";

div.deckgo-slide {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

div.deckgo-slide-code-container {
  width: 100%;
  overflow-y: auto;

  &.deckgo-slide-code-container-mobile {
    overflow-y: hidden;
  }
}

::slotted([slot="title"]) {
  transition: opacity 0.5s ease-in;
}

@media print {
  div.deckgo-slide {
    height: 100%;
  }
}
